[2015-12-19 13:15] nlooije opened #5 "Pairing host"
@wackerl91:

When running 'Pair host' a request is shown on the remote but no code is given by Luna. Inputting any random code results in a 'succesful' pairing but no games are shown so i guess it is not succesful. In fact waiting for timeout also show 'succesful' pairing.

If i pair through the terminal 'moonlight pair X.X.X.X' i get a code and can pair succesfully. Running Luna 'pair host' gives

[2015-12-19 13:17] nlooije commented on #5
nevermind, only now i see your post over [here](https://discourse.osmc.tv/t/howto-moonlight-embedded-former-limelight/5848/174?u=nlooije)

[2015-12-19 13:17] #5 closed

[2015-12-24 23:57] Skoaler opened #15 "ERROR: EXCEPTION Thrown"
Hey Wackerl91,

ich habe die neuste OSMC Version drauf, Moonlight Embedded ist installiert aber irgendwie komme ich nicht weiter... Bis zum pairen bin ich gekommen, ich wähle denn reiter Games und es kommt die Meldung. " Für mehr Informationen Logfile einsehen".

In welcher folgendes steht.

00:19:59  58.793304 T:1556083744  NOTICE: [script.luna] Launching Luna
00:19:59  58.813099 T:1556083744  NO

[2015-12-25 17:01] wackerl91 commented on #15
Heya @Skoaler,
we should keep it in English, just in case someone else stumbles upon this when trying to resolve an issue they're experiencing :)
In short, it'd be best to stick to the [released versions](https://github.com/wackerl91/luna/releases) for now. I'm currently not at home so I had to do every recent feature completely blind. The released versions on the other hand are better tested. Add

[2016-01-03 18:58] agboom commented on #15
I have a similar error:

[code]

I have an NVidia GTX 960, if that helps. If you need anymore information, let me know.

[2016-01-03 19:12] wackerl91 commented on #15
@agboom Those two issues are not related at all. @Skoaler's issue is pretty much a 'this should never happen case' while yours is just me forgetting about a possible None value in that function ;)  Apart from that, it has already been fixed since v0.3.0-alpha. Please make sure to update Luna and (if it shouldn't work afterwards) open a new issue if necessary.
Thanks for the report though and I hop

[2016-01-03 19:19] agboom commented on #15
Sorry, should've looked closer, I see now that the stack traces point to different scrapers. The error seemed similar at first glance. I updated and the error is gone, though a different error popped up.

[2016-01-03 19:22] agboom opened #24 "ERROR: Exception thrown (in game.py)"
The add-on fails to show the list of games. The following is printed in the log:

[code]

The changelog.txt in `home/osmc/.kodi/addons/luna-master/changelog.txt` contains:

[code]

[2016-01-03 19:25] wackerl91 commented on #15
No worries, that's fine - just want to keep things organized a bit.

@Skoaler:
I've been trying to reproduce your issue a few times now and .. I just can't. Could you provide me with some additional information? Which Luna version were you using when you ran into it? Are you using a wired or a wireless connection?

[2016-01-03 19:39] wackerl91 commented on #24
Thanks for letting me know! This will be fixed in the upcoming version (should be done by Wednesday). Meanwhile it should work if you disable the scraper feature completely in add-on settings > scraper settings > disable experimental scraper feature; you'll miss out on game information though and Luna will just show the name of your games.
If for whatever reason this workaround doesn't work please

[2016-01-03 19:54] agboom commented on #24
Thanks! Turning off the scraper works!

[2016-01-03 21:47] wackerl91 commented on #24
Glad this works for you! :) I'll update this issue accordingly once the new release is ready - it will likely still contain some bugs here and there (just found another one :( ), so please don't expect it to work perfectly :)

[2016-01-03 22:38] Skoaler commented on #15
@wackerl91
Hey,
after 3 days Raspberry Pi , Moonlight and Retropi configuration i have a lot of Brain lags (Linux noob)  and no longer knows exactly how the error has come to pass. I think I have a version develop or otherwise installed . I now use the V. 0.2.2 and finally got to the Xbox360 controller to run. In Moonlight and Rettropie . In Kodi unfortunately it is not working .
I'm like V. 0.2.2

[2016-01-04 00:18] wackerl91 commented on #15
Well, master is a bit ... nondescriptive, as this is always the latest code pushed to that branch (which is not necessarily the same as a released version).
If you feel more comfortable talking about this in German just send me a message at [OSMC forums](https://discourse.osmc.tv/users/exxe/activity) :)

[2016-01-07 19:18] wackerl91 commented on #24
This should be resolved in V0.4.0.
If a similar error occurs again please open a new issue. Thanks!

[2016-01-07 19:18] #24 closed

[2016-01-08 14:40] diagonali opened #27 "Error when choosing "Games""
So I 've been getting this error: Luna Error - Check the log for more information.

This is with the 030 and new 040 version.

I uninstalled and reinstalled the addon but the error still occurs - and strangely - all the settings are still there - it seems the addon isn't fully uninstalled?

I don't know where the log is to check that but would be happy to do so.

Also - I tried the command "moonli

[2016-01-09 14:57] wackerl91 commented on #27
Sorry, just saw this today as I have't been on my computer yesterday.
I'll check this out and see what I can find.

Regarding the settings: those are in the addon_data directory and don't get cleaned up once the addon is uninstalled - just the main addon files in ~/.kodi/addon/script.luna are deleted.

(Kodi log on OSMC is located here: ~/.kodi/temp/kodi.log)

[2016-01-09 18:55] diagonali commented on #27
Hi @wackerl91

Thanks for getting back to me. So I've cleared the game cache using the option in settings > scraper seettings. Then I disabled the experimental scraper feature. I've now rebooted my Pi and have selected Games from the main menu and after quite a long wait, I'm just getting ".." i.e two dots in the list for the games. I'm now trying to clear the addon_data and reinstall the addon

F

[2016-01-09 19:30] wackerl91 commented on #27
It seems your initial error was caused by the storage containing old data (changed the data model multiple times so this was somewhat expected, as it used a string for the selected fanart instead of an object - had to do this to improve performance while re-building the game list), but still it's one part which needs fixing.
Yet there's still some things I don't get about your error log: it looks

[2016-01-11 10:44] diagonali commented on #27
Hi @wackerl91 So before I saw your message I already removed the addon data from the folder you mentioned and re-installed the addon. Now everything seems to work ok (well apart from the Far Cry 4 link Launching the Steam interface for some reason but I don't think that's an issue with the addon - it does the same directly from Geforce Experience).

I do remember trying clearing the game cache and

[2016-01-11 14:01] wackerl91 commented on #27
@diagonali Thanks for taking your time for such a detailed answer. Glad to hear it's working properly now. I'll figure out a way to detect changes on a datamodel when updating, so I can just clear or upgrade the storage automatically. This should resolve any related issues (in retrospect, I should've done that from the very beginning).

I could make Luna pull the current game list from GFE each ti

[2016-01-12 16:31] diagonali commented on #27
@wackerl91 It's all working correctly - just can't seem to find a way to get Far Cry 4 to launch properly without removing all the listed games from Geforce Experience. Not sure what the issue is but it's not the fault of the Luna addon obviously.

I think the issue I described where it wasn't getting a list of games at all is really like you said to do with the data model and you'e updating that

[2016-01-17 18:52] AaronMesa opened #28 "Pairing Issues"
Every time I try pairing it throws this error
10:48:21 1318.747681 T:1576006688  NOTICE: -->Python Interpreter Initialized<--
10:48:23 1320.040649 T:1576006688  NOTICE: Bootstrapper called
10:48:23 1320.369873 T:1576006688  NOTICE: Core Init
10:48:23 1320.370850 T:1576006688  NOTICE: [script.luna] Update Service init
10:48:24 1320.966064 T:1576006688  NOTICE: [xbmcswift2] Request for "/actions/pai

[2016-01-18 15:52] wackerl91 commented on #28
Heya @AaronMesa,
this looks like an attempt to read the config file before it was actually created.
Just so I can try and reproduce this: did you call the settings via the context menu (without actually launching the addon) or from inside Luna?

[2016-01-29 19:01] Haapavuo commented on #28
Same problem here. No matter how I try to pair the devices.

[2016-01-29 19:52] wackerl91 commented on #28
Hey!
@Haapavuo thanks for the input. I'll try to have a look at this tomorrow.
It might be possible that the config file isn't created properly for some reason.

[2016-01-30 14:36] wackerl91 commented on #28
This should be resolved in [Luna 0.4.1-alpha](https://github.com/wackerl91/luna/releases/tag/v0.4.1-alpha).
If you can launch the add-on you should be able to update using the 'Check for Updates' menu item. Otherwise please uninstall and reinstall the new version.

[2016-01-30 14:36] #28 closed

[2016-02-11 21:35] wackerl91 commented on #27
This should be resolved in Luna 0.5.0. If you're seeing the same problem again - for whatever reason - please open a new issue.

[2016-02-11 21:35] #27 closed

[2016-02-13 08:21] Asfalt-FR opened #40 "ERROR Exeption Thrown after new maj 13.02.2016"
Hello, after newmaj today, i have a error...

09:12:10 388.620422 T:1734120480   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
                                            Error Type: <type 'exceptions.ImportError'>

[2016-02-13 12:53] wackerl91 commented on #40
Heya @Asfalt-FR,
that's already stated in the [release notes of 0.5.0](https://github.com/wackerl91/luna/releases/tag/v0.5.0-alpha):
[code]
Reason for this is that I need a date parser for the newly added IGDB scraper and Luna's update process can't handle changed dependencies, so it's just missing on your system - which in return causes Luna to crash.

To resolve this simply go to programs > sele

[2016-02-13 12:53] #40 closed

[2016-02-14 00:32] wackerl91 commented on #15
Since there hasn't been any more information regarding this issue (and no steps to reproduce) for over a month now and I couldn't reproduce it on my machines this is now closed.
If anyone runs into the same issue in the future just reopen it.

[2016-02-14 00:32] #15 closed

[2016-02-15 17:01] chrigg opened #44 "Try and catch for Scraping"
Just a little thing, maybe a try and catch loop for the first time scraping the games, because when the pc is off while scraping there's a divided by zero error.

[2016-02-15 17:18] wackerl91 commented on #44
Thanks for the report!
All of the scrapers need better error handling anyway, so I'll take care of all of this together (might be done by tomorrow) as it is closely related.

[2016-02-17 00:14] wackerl91 commented on #44
This has been resolved by #46 and is part of Luna 0.5.1 release ( #47 ).
If you should have any more suggestions (and / or if you happen to find more bugs) just let me know!

[2016-02-17 00:14] #44 closed

[2016-02-17 14:29] Asfalt-FR commented on #40
Sorry...
Ok thx !!!

[2016-02-29 13:45] leit512 opened #51 "Addon always reports pairing successful"
When I enter a wrong ip address, I don't get the enter-the-pin message and the dialog closes, but the addon still shows a successfully paired message.

[2016-02-29 14:25] leit512 commented on #51
This might or might not be the same issue:
With the 0.5.2 version I can't see the game list. The only entry is something like "enerating certificates.. done". So the problem might be that Luna does not connect to gamestream even with the correct ip address and pin.

This does not happen with the 0.5.1 version of the plugin.

I'm using osmc on the rpi2.

[2016-02-29 22:11] wackerl91 commented on #51
Thanks for the heads up! I'll have a look at this once I have access to my hardware again (probably next week). That being said, both versions should behave pretty much the same regarding pairing and the game list as the only difference between both versions is that 0.5.2 filters two additional outputs which were added in moonlight-embedded 2.1.3. The processes of pairing and getting the game list

[2016-03-05 11:02] sheldon commented on #51
hey there

i did a new install of both moonlight & luna today, from the latest versions for the first time. i bumped into the "erating certificates.. done" being the only game in my list. on advice in one of your other closed issues, i cleaned the game cache, and then next time i went to the game list it populated perfectly.

not sure if it's related to this bug, happy to open a new issue if you'd

[2016-03-05 11:37] wackerl91 commented on #51
Heya @sheldon,
what you're seeing is totally related to this bug. Need to do some more testing with the newest moonlight-embedded version to get it more stable again. They added some new outputs which aren't caught properly in Luna.
I'll have a look at this probably today, but I can't provide an ETA for an update yet (just got home from a 10 day trip, so I kinda got a huge backlog right now).
Than

[2016-03-05 13:19] wackerl91 commented on #51
Both mentioned issues (due to them being closely related) should be resolved in [Luna 0.5.3] (https://github.com/wackerl91/luna/releases/tag/v0.5.3-alpha)

[2016-03-05 13:19] #51 closed

[2016-03-05 18:19] sheldon commented on #51
epic, thanks for the quick response

![](http://27.media.tumblr.com/tumblr_lv3ouieRHX1r6aoq4o1_500.gif)

[2016-03-05 18:33] wackerl91 commented on #51
You're welcome - hope it's working properly now! If not just open another issue :)
P.S.: That gif is amazing xD

[2016-03-10 08:34] subutux opened #54 "FR: multpile input devices"
Hi all! May i say that your work is just awesome?! I love the fact that's so well reconcilable with Kodi, especially with the OSMC theme!

I would be handy if we are able to set multiple input devices in settings (for ex. two xbox360 controllers, keyboard and mouse..) because from my understanding, this is currently not possible. Or am I wrong?

[2016-03-12 19:16] amivit opened #55 "Dependency error"
Luna installed from zip perfectly fine on my OSMC 2016.01-1. However now I had to do a fresh install and put the latest 2016.02-3 OSMC on my SD-card. For some reason I can't install luna now. I get a weird dependency error, something about script.module.dateutil 2.4.2, even after doing a full apt-get update && dist-upgrade, and installing moonlight-embedded. Google brought me here, but I don't kno

[2016-03-14 11:53] wackerl91 commented on #55
Thanks for the report. I'll need to have a look at this with a fresh OSMC installation using your specific version (and for that I'll need to find another SD Card, as my installation is used heavily). Well let you know once I find something.
If anyone else runs into the same issue with the same or other OSMC versions please let me know here.

[2016-03-14 23:52] jaketk commented on #55
Same issue with the latest image

[2016-03-15 18:01] wackerl91 commented on #54
That's currently not possible, you're completely right. Multiple controllers of the same type should definitely be supported by moonlight-embedded. However, mix and match (one X360 + Mouse / Keyboard) most likely isn't.
I suspect something like split screen coop is your aim here?
Either way, I'll have a look into this as a feature for the next release (might take a while, don't have much time at t

[2016-03-19 12:59] wackerl91 commented on #55
My spare SD card has arrived today and I did a fresh install using the latest OSMC version 2016.02-3 (as stated above by @amivit).
Installing from zip for every addon I'm using failed, so I suspected there was something wrong in general and not only with Luna.
I then wanted to try installing an add-on from the official Kodi repo. As soon as I entered the add-on list it started updating a bunch of

[2016-03-19 12:59] #55 closed

[2016-04-02 00:26] wackerl91 commented on #54
@subutux Getting along pretty well with this, at least as far as multiple controllers (of the same type) are concerned. Since this feature has been a lot of work already I'll most likely split it into two features. While you can expect to set up two four controllers when 0.6.0 is released, dedicated keyboard and mouse support won't make it until then - this is partly due to how moonlight-embedded

[2016-04-02 09:35] subutux commented on #54
Wow sounds good! I was under the assumption that you could define multiple input devices with their own mapping after each other . Like so:
'''
--mapping <file for input1> --input <input1> --mapping <file for input2> --input input2
'''

When I want to play a game, I usually steam steam first and go from there, with keyboard and mouse & while launching a game, I switch over to a controller.

Nevert

[2016-04-02 12:57] wackerl91 commented on #54
@subutux I might have misunderstood moonlight's documentation there, sorry :disappointed: Thanks for correcting me!
I'll give this a shot (based on your use case above) and if it works I'll make sure Luna properly supports this.

[2016-04-09 10:55] wackerl91 commented on #54
@subutux: The changes have just been merged back to the develop branch. If you want to you can give this a try before 0.6.0. is released by uninstalling your currently installed version and reinstall from develop - just be aware that the ZIP provided by GitHub might not pass Kodi's structure validation, so you might need to unzip it, rename the folder from 'luna-develop' to 'script.luna-develop' u

[2016-04-09 10:55] #54 closed

[2016-04-09 11:04] subutux commented on #54
Thanks! I'll test this when I've got the time (probably tomorrow).

[2016-04-09 11:09] wackerl91 commented on #54
Take your time. If you run into any problems I'd really appreciate it if you open separate issues!

[2016-04-09 11:11] subutux commented on #54
We'll do!

[2016-05-04 20:12] TTherouanne opened #61 "Can't run listed games"
Hello,
I know that Luna is designed for OSMC but i'm trying to use it with Kodi (i guess he is compatible)

When i try to start games or steam from Luna, nothing is happening, (features like scrapper, pairing, remote game list works)
Moonlight is working fine when i run it from the terminal.

My setup:
- ArchlinuxARM on RaspberryPi 3
- Moonlight-embedded 2.2.0
- Kodi 16
- Luna 0.5.3

I have put ko

[2016-05-05 12:48] wackerl91 commented on #61
Heya @TTherouanne!
I'm actually not surprised that launching a game doesn't work from Luna ;) The only available launch scripts are tied to OSMC right now - plus they're leveraging the fact that elevated commands can be issued without further authentication by default.
Since I guess that you're pretty proficient with Linux (given that you installed ALARM instead of a preconfigured mediacenter solu

[2016-05-06 11:05] TTherouanne commented on #61
Hi,
Thanks for your answer :)
Great, adapt these bash scripts to kodi should be easy!
I come back to you soon

I plan also to work on a 'wake on lan' feature with shutdown support (with pywinrm), and to create a PKGBUILD for Archlinux...

[2016-05-06 11:23] wackerl91 commented on #61
WOL is something I wanted to look into once I got multi-host and mDNS support straight. There shouldn't be much dark magic involved in sending a magic packet via python (yeah, I'll show myself out for that stupid joke ...). So it will find its way to Luna sooner or later.
Anyway, if you want to have that functionality now you're indeed better off writing this yourself - not to mention the fact tha

[2016-05-26 13:20] wackerl91 commented on #61
@TTherouanne Did you got this to work on Arch?

[2016-05-26 14:05] TTherouanne commented on #61
Hi,

Sorry this last days i'm a little busy :/
I have redeployed my raspberrypi (with Ansible) and now Luna won't start, i don't know why yet, i will post debug log after few investigations...

For the moment, i have found an easy way to start moonlight from kodi with systemd user services.

I start a script from Kodi with the  Advanced Launcher addon who call 'systemctl --user start kodi-moonligh

[2016-06-13 09:44] wackerl91 opened #65 "UpdateService crashes when pre-release updates are disabled"
Disabling pre-release updates on v0.6.0 leads to an immediate crash in the update service (and thus Luna not starting at all) because the API response isn't parsed properly.

Workaround: enabling pre-release updates in the settings (simply access them via the add-ons context menu) resolves this for now, essentially reverting to the behaviour on older versions.

A hotfix is underway and will be rel

[2016-06-15 22:58] wackerl91 opened #66 "Crash during pairing when .cache/moonlight doesn't exist"
`18:36:30 1313.318970 T:1750070256 ERROR: EXCEPTION Thrown (PythonToCppExcep
tion) : -->Python callback/script returned the following error<--
 NOTE: IGNORING THIS CAN LEAD T
O MEMORY LEAKS!
Error Type: rror'>
Error Contents: [Errno 2] No such
file or directory: '/home/osmc/.cache/moonlight/uniqueid.dat'
Traceback (most recent call last) `

[2016-06-16 20:29] #66 closed

[2016-06-16 20:29] #65 closed

[2016-06-19 18:13] TTherouanne commented on #61
Hi wackerl91,

As promised, here are the logs, sorry for the wait! :)
When i start Luna (with pairing not done), the app starts ( just an SSL error/warning in logs from requests module )
The pairing is not working from the app and if i do it manually, Luna no longer starts.
(kodi 16.1, Luna 0.6.1)
Do you have an idea?

I also looking for a way to install the dependencies of the addon from a script

[2016-06-19 18:55] wackerl91 commented on #61
Heya @TTherouanne,

no worries, I was obviously busy as well.
That's a (admittedly pretty common) string encoding issue - I'm not sure why you're seeing this though, probably got to debug this a bit. I guess you're using the most recent version of ALARM? And what's your GFE version?

Kodi Addons probably shouldn't be installable via an open API to prevent abuse (not that this would matter much on

[2016-06-21 07:52] CQoute commented on #61
I too am getting this same error and though I would chime in here, the output from inserting the code you mentioned displays xml of my games [http://pastebin.com/34MLkGZW]. The error shows the same as TTherouanne.

`17:19:42 1956.891846 T:1478136816   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--

[2016-06-21 08:29] CQoute commented on #61
I believe the problem is with the ™ symbol

[2016-06-21 16:52] wackerl91 commented on #61
Heya @CQoute,
thanks for letting me know and providing a full XML - this was extremely helpful! The problem is indeed related to the ™ symbol, though the error occurs because I'm trying to decode the string as UTF-16 instead of UTF-8 (as noted in the 'encoding' attribute in the XML).
Question is if this attribute has changed in newer GFE versions (I'm currently still at 2.11.3.x) or if GFE just de

[2016-06-21 17:47] cricket007 commented on #54
@wackerl91,
Hi, I stumbled upon this feature with the latest update and I understand this addon is primarily focused on OSMC, but I use the Confluence theme, and while the new input selection window is functional, it doesn't "flow" well with the rest of the UI. The rest of the dialogs seem to be properly implemented in the Confluence theme, so I was wondering if that was a bug?

[2016-06-21 18:03] wackerl91 commented on #54
Heya @cricket007,
it's not a bug, it's a feature :P
Seriously though, most of the windows (like the main screen, games list, ...) didn't have views attached and thus used the default file listing view of the selected skin (same goes for the context menu). The input selection however had to be coded in Python due to its complexity and has fixed assets currently.
That being said: I'm currently in th

[2016-06-21 18:45] TTherouanne commented on #61
Hi,
"DARK SOULS™ III"  was the guilty !
After renamed it with the GFE interface, Luna is starting :)

In my case, the XML is generated with UTF-16 encoding as expected : http://pastebin.com/tFwxWbH1
I use the last version : NVIDIA GeForce GTX 950, GFE 2.11.3.5 (protocol version 7)

[2016-06-21 20:36] wackerl91 commented on #61
Heya!
Thanks for confirming and providing another example. Both in conjunction should point me into the right direction to get a fix ready and just hit it with both examples until it passes ;)
Still curious what CQuote's version is ...
BTW, as of today [GFE 2.11.4.0 is the most recent version](http://www.geforce.com/geforce-experience/download) though I haven't installed it yet.

Now that Luna's s

[2016-06-21 20:51] CQoute commented on #61
My version is 2.11.3.5, I also didn't realise you could rename from the GFE interface so I will do that as a temporary fix for now.

[2016-06-21 22:42] wackerl91 commented on #61
@TTherouanne / @CQoute:
[Luna 0.6.3](https://github.com/wackerl91/luna/releases/tag/v0.6.2-alpha) should resolve the encoding issues. Both your datasets (dumped as XML to disc, so it's not strictly the same) as well as a local test (used Star Wars KotoR I, amazing game!) went fine. That being said, the XML states that it's encoded as UTF-16 so my more 'hands-on' test matches @TTherouanne scenario.

[2016-06-22 01:03] CQoute commented on #61
All working good now, thanks for rectifying the problem quickly. On a side note, I only came across this on a google search to only scroll down and see @TTherouanne has the same error that mine was showing so I thought it was suitable to give my input on the situation. I will be sure to open a new issue in future if I come across any. All in all I really appreciate your work on this, so thanks!

[2016-06-22 04:16] steven6282 commented on #54
Hey, sorry if this isn't the correct place to post this, but I'm having issues getting a XBox 360 controller working under Luna 0.6.2.  I've got a fresh raspberry pi 2 setup with OSMC, installed moonlight, xboxdrv got it set to autostart, etc.  The controller connects fine, if I manually launch xboxdrv without --silent I see the input being detected.  However, it's not working when streaming start

[2016-06-22 20:35] cricket007 opened #69 "FR: Controller Mapping for Kodi menu navigation"
First off, great add-on, minus an issue I left over at [moonlight-embedded][1] (probably not Luna related, so I put it there)

Anyways, I was wondering if it would be possible to have a controller mapping for in-game play as well as outside of Luna as a general remote control for Kodi navigation.

I can see how that might be outside the scope of this add-on itself, but perhaps I could be directed

[2016-06-22 21:51] wackerl91 commented on #69
@cricket007 I got to say, this is one of the most beautifully formatted FRs ever - plus you really did your own research, appreciate that!

All I can say for now is that I'll have a look at this sooner or later - if you've followed Luna's development a bit closer you probably know that stuff like this gets me hooked up pretty fast, so if you're lucky it will be sooner ;) As usual, I can't give you

[2016-06-22 21:56] wackerl91 commented on #61
@CQoute
No worries, that's fine in this case - and it wasn't meant offensive in any way. Just usually like my tracker somewhat organised because it's way easier for people to find related (and maybe already resolved) issues if the title matches the content ;)

As I've said, your input was very much appreciated and valuable - before you showed up, I thought that ALARM had Python set up differently,

[2016-06-22 22:13] wackerl91 commented on #54
Heya @steven6282,

This totally isn't the right place, as this issue is about a feature request that's already implemented (and questions regarding it, like @cricket007's).

I don't mean to be nasty about this in any way, but I like to keep the issues somewhat organised. That being said, I'd kindly ask you to open a new issue and paste your text in there so we can have a meaningful discussion abou

[2016-06-23 09:48] TTherouanne commented on #61
Hi Wacker,
Thank you for your quick fix!

I can now start a game by modifying the launch_game method in 'resources/lib/util/moonlighthelper.py' to call a systemd service.
The arguments are passed to systemd by putting variables in a file

[code]

So to resume:
- user lingering is enable for the kodi user (loginctl)
- kodi is enable/started with the systemd kodi session
**/var/lib/kodi/.config/syst

[2016-06-23 12:29] wackerl91 commented on #61
@TTherouanne

Thank you for your quick fix!

That's my last name, but still: you're welcome :) And that's really great news on your end!

I'd like to ask for your opinion on transitioning away from the currently used launch scripts to systemd in general, as you seem to have a lot more experience with this than I do and I don't want to break your solution with any upcoming updates.

My current plan

[2016-06-23 19:04] cricket007 commented on #69
Thanks, I do a lot of note-taking in Markdown. :smiley:

Understandable, I'm willing to look into it more myself, I just wanted to document my thoughts about the feature somewhere. I might hit RetroPie's Github/forum at some point as well.

Regarding the virtual keyboard, I can't remember exactly which set of instructions that finally got my PS3 controller working over bluetooth, but somewhere alo

[2016-06-23 22:01] wackerl91 commented on #69
I obviously wasn't clear with my answer above regarding this part, I'm sorry. Both xboxdrv and QtSixA have the option to load driver level configuration files, which will "conflict" with other configurations / mappings for specific programs. What I mean by this is (and I know that this is totally not a real world example, just want to make a point here) that if button X on your PS3 controller is m

[2016-06-26 00:32] cricket007 commented on #69
Huh, good find on that v17 keymap entry. That did give me an idea that maybe I just need to make a keymap for my controller, and all will be good because I can get to the Luna addon, then Kodi is killed and the keymap is no longer in-use until restarted.

I found it. And it was a sixad configuration that remapped to keyboard input (as kindly label in the comments by someone online). As I said, wor

[2016-06-27 06:06] cricket007 commented on #69
Well, I think I finally found my answer after quite a while of searching and no progress with different keymap configurations over the weekend. :cry:

[osmc : Enable joystick support][1] is an open issue

  [1]: https://github.com/osmc/osmc/issues/162

[2016-06-27 06:06] #69 closed

[2016-06-29 00:28] cricket007 commented on #69
Turns out all I needed to do was enable joystick input with a change to this line

    enable_joystick 1

And then I magically have available inputs of

    event1 event2 js0 kbd mouse0

Compared to before of just

    event js0

Moonlight works with the events on `event1` perfectly well and doesn't seem to interfere with the other inputs.

[2016-06-29 00:32] wackerl91 commented on #69
May I ask in which file? Just for future reference (and for others who stumble upon this conversation).

Not too surprised about this because this is the behaviour I would expect. Only thing I wonder is why we don't have the option the enable gamepads in the settings on the Pi, but enabling it manually seems to work perfectly fine for you.
Either way, good find and thanks for letting me know!

[2016-06-29 00:43] cricket007 commented on #69
Edited above comment, but I'm working on a [Gist](https://gist.github.com/cricket007/a30e7233ada8bc6e336ae8b847d33f61) for writing down my complete notes if I ever flash a new SD card on my Pi

[2016-06-29 00:48] wackerl91 commented on #69
Ah, didn't see your edit, I'm sorry. Do you mind if I link to your gist from Luna's wiki? Pretty sure it might be helpful to others.

[2016-06-29 00:53] cricket007 commented on #69
Sure - I'd link myself, but haven't made an account. As I linked to earlier, the config actually initially came from [this post](https://discourse.osmc.tv/t/osmc-and-ps3-controller-how-to-install/9937/6)

It was the keyboard input mapping that allowed Kodi navigation. Enabling the joystick was purely to get Moonlight working without interfering with the `event2` device which is what is inputting t

[2016-07-14 11:38] Langoor2 opened #70 "Not pairing correctly, nor am i able to set a controller map"
It shows up with "check log for more information..." while trying to pair or set controller mapping (OSMC and newest versions of Luna/Moonlight-embedded) @ Raspberry pi 2 B

[2016-07-15 11:51] kbr- opened #71 "Last hotfix broke luna for me: ParseError"
Hi,

0.6.1 alpha works well, 0.6.2 (for which you forgot to change the version in addon.xml btw.) doesn't.
Here's what happens:

13:33:30 963.831177 T:1751024624   ERROR: /home/osmc/.kodi/addons/script.module.requests/lib/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification
is strongly advised. See: https:/

[2016-07-18 07:39] wackerl91 commented on #71
Heya! Thanks for letting me know (also for the fact that I didn't change the versions). I'll have a look at this as soon as I can and will let you know if I should require more information.
I hope sticking with 0.6.1. is not too big of an inconvenience for you.

[2016-07-18 07:43] wackerl91 commented on #70
Heya @Langoor2,

could you please paste the relevant portions of the log file? Like any other plugin, Luna is logging directly to the kodi log which can usually be found here: `~/.kodi/temp/kodi.log`. If the relevant portion is really long please consider using pastebin and just post the link.

Thanks!

[2016-07-18 10:54] Langoor2 commented on #70
Helllo @wackerl91, thanks for your response,

I hope this is the correct part...
`23:41:45 124128.148438 T:1574958064  NOTICE: [script.luna] [CoreService] - initialized
23:41:46 124129.359375 T:1574958064   ERROR: /home/osmc/.kodi/addons/script.module.requests/lib/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate ver

[2016-07-18 12:02] wackerl91 commented on #70
@Langoor2, looks like this is the same issue as #71.
I'll have a look at it as soon as I can.

[2016-07-18 12:30] Langoor2 commented on #70
Awesome, thanks!
I'll try the other version! :)

[2016-07-20 02:43] Spitwod opened #72 "Luna Launch error"
Looking for some help with my OSMC Moonlight with Hyperion rig.
I have moonlight-embedded installed and I can get it to work from from the old limelight scripts.
However I was looking for a more user friendly method and Luna seemed to fit what I am looking for.

I am getting the following errors in the kodi.log when launching the addon (after configuring it with just my host IP and pairing success

[2016-07-21 13:52] kbr- commented on #71
Not an inconvenience at all. I am only grateful for the great addon.

[2016-07-25 22:22] wackerl91 commented on #72
@Spitwod
This is literally the same issue as #71. Try using the previous version until I find time to fix this.

[2016-07-25 22:22] #72 closed

[2016-07-25 22:24] wackerl91 commented on #70
@Langoor2
Sorry for me answering so late, it's been a busy week. Glad the older version is working properly for you. I'll close this issue since it's exactly the same as #71; if I should need any more input I'll mention you over there.
Thanks again for reporting!
(P.S.: I got exams upcoming, that's why I'm really slow at fixing stuff right now. Sorry :/ )

[2016-07-25 22:24] #70 closed

[2016-07-26 12:51] Langoor2 commented on #71
@wackerl91 thats not an problem at all, im glad the older version is working! good luck with your exames!
im just really glad that this addon exsists ^^

[2016-07-27 19:59] Direcka opened #73 "Cant set surround sound"
Im really missing option, to set soundcard to surround sound. Few versions ago its worked automaticaly, after ive configured ALSA, now i have option to choice sound card, but it runs only in 2.0 mode.

[2016-07-29 12:02] wackerl91 commented on #73
@Direcka
Just to confirm that it's an issue with Luna, could you try launching the stream from command line (passing your arguments manually) and see if it's working?
Don't own a audio receiver and my TV only supports 2.0 as output, so this is literally impossible for me to test.

[2016-07-31 14:18] wackerl91 opened #74 "HiFiBerry Digi+ not appearing in audio device selection"
Audio Device Selection doesn't pick up HiFiBerry as device; making it unavailable / missing in this screen.

[2016-08-05 10:38] wackerl91 commented on #71
@kbr- @Langoor2 @Spitwod

I've had a look at this and while I can't reproduce the error on my machines (Note: I can't update GFE on my notebook past 2.10.x as my notebook's GPU is not supported and I had to patch the exe to get it running) I might have a somewhat 'hacky' solution for now by catching the error you guys were seeing and re-trying the old behaviour present in 0.6.1.

However before re

[2016-08-05 11:42] wackerl91 commented on #73
@Direcka
Just stumbled upon this issue:
https://github.com/irtimmer/moonlight-embedded/issues/365#issuecomment-211392643
It looks like this might be related to what you're seeing.
As said before, I have no way to test this on my own :/

[2016-08-06 00:33] Kampher commented on #71
Hi Wacker,

Thank you very much for this amazing addon. I've been using this for about two weeks as a complete Raspberry Pi newbie, and it's been working great.

I had this exact error, and the fix above completely worked. Just wanted to give you a heads up! Thanks again.

[2016-08-06 09:03] wackerl91 commented on #71
Heya @Kampher,
in general (to the other guys, too) I'd like to thank you guys very much for all the appreciation you're showing towards Luna, that's great and I really enjoy building something that a lot of people find useful (even though I guess my userbase isn't that large, but I got no statistics about that - Luna isn't talking home :) ). Even more so because you guys are really nice and not de

[2016-08-06 10:10] wackerl91 commented on #61
@TTherouanne, just as a quick follow-up regarding the PKGBUILD for ALARM: would it help with the dependencies if we provided an additional requirements file that can be used with pip to install everything that's needed?

[2016-08-06 12:26] Kampher commented on #71
Hi @Wackerl91,

Ok, so I tried your steps and it still won't work for me. Here's the info you need.

1) It looks like I'm running GFE version 2.11.4.0
2) Here is the [error](http://pastebin.com/84qyR3Dx)\

I hope this gives you a clue as to what might be going wrong. I tried version 0.6.1 but I'm getting the same results.

Thanks again for a great addon! Like I mentioned earlier, I had no problems

[2016-08-06 13:29] wackerl91 commented on #71
Heya @Kampher,
thanks for that information, I was able to track down a bug using your log.

This entire encode / decode stuff is such a mess without strict standards and it's obviously giving me a hard time, especially since GFE sometimes specifies UTF-8 as encoding and sometimes UTF-16.

Anyway, I took another shot at it by just trying to decode and then encode the string in every possible format

[2016-08-06 14:57] Kampher commented on #71
That did the trick! Thanks for such a speedy and well thought out reply.

Next time I'll be sure to add some more to the error log. I figured you didn't want the other lines because you mentioned that you knew of the errors mentioned above.

[2016-08-06 15:09] wackerl91 commented on #71
Awesome! Admittedly it's kind of a crowbar solution, but I'm glad it's working now. Since I'm not at home right now I'll make sure to publish a bug fix release either tonight or tomorrow.
Thanks again for helping me figure this out and tirelessly retrying the solutions I came up with and providing relevant information. Really appreciate it!

If you should have any other issues or feature requests

[2016-08-07 13:57] wackerl91 commented on #71
[Luna 0.6.3](https://github.com/wackerl91/luna/releases/tag/v0.6.3-alpha) contains the fix for this. Again, thanks for all your help and understanding. If you encounter any other issues and / or have feature requests (or anything else, really) just let me know. It was a pleasure talking to you guys!

[2016-08-07 13:57] #71 closed

[2016-08-07 16:59] Direcka commented on #73
Im sorry for late answer, i was out of home :) Ive tested it today from command line and it doesnt work. So pobably it's realy moonlight/driver problem.

[2016-09-03 22:59] brainstormi opened #77 "Change TV refresh rate before launching game stream"
Hi...
   There are many users that setup Kodi screen as PAL, mostly Europeans and Brazilians. Live TV in PAL countries runs in 50Hz(25Hz), this is the reason why in Kodi we setup 50hz in settings. If not, each time you stream a TV channel there is the usual annoying black screen of the TV trying to change refresh rate from 60Hz to 50Hz.
    Is there any way to force TV refresh in Luna to 60Hz befo

[2016-09-05 12:33] wackerl91 commented on #77
Heya!
I'll have a look at this soon-ish and see if I can support this behaviour (at least experimentally at first).
Also, having the option to assign pre / post scripts is a great idea and I'll definitely see what I can do about that as well.

Thanks for your suggestion!

[2016-09-17 22:08] sapkra opened #78 "In GFE added games are not be listed in Luna, but in moonlight itself"
You can add custom games to Geforce Experience. But Luna doesn't list it. But I tested it with SSH: moonlight can list this game.

[2016-09-17 22:32] sapkra opened #79 "In Luna Steam is lagging, but not in moonlight itself"
When I start Steam via Luna, the stream lags while navigating in the game overview. But I tested it with SSH: moonlight itself works fine.

[2016-09-18 15:57] wackerl91 commented on #79
This is most likely due to different configurations. Try loading the same config file Luna passes to moonlight and see if it behaves the same (i.e. lagging):
`moonlight -config /home/osmc/.kodi/userdata/addon_data/script.luna/.storage/luna.conf`
(depending on your OS and configuration the actual path may vary)

So far I've never encountered a case where starting moonlight directly versus starting

[2016-09-18 16:01] wackerl91 commented on #78
Works perfectly fine for me.
Did you call the 'update' function (can be found in the context menu of the game list) after adding the game in GFE? Luna doesn't automatically update the game list right now, this needs to be triggered manually.
If you did, can you provide some additional information, like the name of the game, steps to reproduce, ... ?

[2016-09-18 17:37] heydude1337 opened #80 "Add support for surround (moonlight stream -surround)"
Thanks for writing a great plugin. Would it be possible to add surround sound? Moonlight embedded can be started with a -surround flag. Doing this from the command line enables surround for me indeed.

[2016-09-18 17:55] wackerl91 commented on #80
#73

[2016-09-18 18:02] wackerl91 commented on #80
Given that someone else already reported the very same issue and couldn't get it to work using command line, I'm somewhat curious what versions of moonlight / GFE you're using. This information might also help out the guy in the other issue.

That being said I'll make sure to support this in the next major update (no ETA though).

[2016-09-25 20:46] heydude1337 commented on #80
moonlight embedded v2.2.0
GFE 3.0.6.49

hacking your launch scripts with a forced -surround flag works for me.

[2016-09-25 20:51] wackerl91 commented on #80
Good to hear you found a solution that works for you for now and thanks for letting me know!
It will still be part of the next update which will also overwrite your changed launch scripts, so make sure to enable it in Luna's settings once a new version is available ;-)

[2016-10-07 16:59] wackerl91 opened #81 "'Add mapping' greyed out for some gamepads"
The 'Add Mapping' button in the controller settings window is greyed out for controllers that are additionally treated as keyboard / mouse by the OS / their driver.

[2016-10-13 02:30] roemhildtg opened #82 "Question: How to use with Chrome Moonlight"
Sorry, I'm completely new to moonlight and this launcher. Basically, I have a small intel computer running xubuntu, and I have moonlight installed as a chrome addon. Can this set up work with luna?

[2016-10-18 15:51] wackerl91 commented on #82
@roemhildtg
Sorry for my late reply.
Most likely this won't work. While you could probably get it to launch, there's no way to launch a specific game, let alone make it read the config dumped by Luna (I guess I could find and replace the addons config file, but that's just too much pain).
Basically I'd need a way to pass options to moonlight via command line, which I can't see happening here.

[2016-10-18 15:53] wackerl91 commented on #78
Closed because:
* I can't reproduce this
* there was no more information posted regarding this issue after a month

If someone stumbles upon this in the future, feel free to reopen this issue but make sure to provide some additional information. Thanks!

[2016-10-18 15:53] #78 closed

[2016-10-18 15:53] wackerl91 commented on #79
Closed because:
* I can't reproduce this
* there was no more information posted regarding this issue after a month

If someone stumbles upon this in the future, feel free to reopen this issue but make sure to provide some additional information. Thanks!

[2016-10-18 15:53] #79 closed

[2016-10-18 16:11] roemhildtg commented on #82
Okay, gotcha. This is probably more of a question for https://github.com/irtimmer/moonlight-embedded but do you know if its possible to use luna on an intel x64 cpu?

[2016-10-18 16:45] wackerl91 commented on #82
Luna will run on anything where Kodi is available ;)
I'm unsure if anyone over at moonlight-embedded is able to help you, since it seems to be a strict ARM port. But maybe they can point you into the right direction.

[2016-10-18 16:51] roemhildtg commented on #82
Sounds good. Thank you :)

[2016-10-18 16:51] #82 closed

[2016-10-18 16:58] wackerl91 commented on #82
You're welcome. Well, and sorry I wasn't too much of a help with your current problem :/

Let me know if you're running into any Luna specific issues on your hardware and I'll try to resolve them (if there are any). I've been running it on OSX while developing it and was fine for the most part (except for some Linux specific stuff in there).

[2016-10-18 17:04] roemhildtg commented on #82
No worries, I appreciate the quick response and your willingness to help. I'm just not sure how to get started with the nvidia game streaming. I had previously used steam streaming, but have since bought a nvidia card and wanted to try it out.

[2016-10-23 12:07] hazardlabs opened #83 "GamePad Mapping"
Hi there,

I'm attempting to create a custom mapping for a generic game pad (Looks like a PS2 controller, available from Game UK).

In the 'Select Input Devices' window, the game pad is report as 'DragonRise Inc. Generic USB Joystick'.

I then select 'Add Mapping', followed by 'Create Mapping'.

I give the name as a single letter (after the first three times I thought I would speed up the process.

[2016-10-23 13:03] hazardlabs commented on #83
As a work around, I am using the 'moonlight -map GamePad.map' command to generate the map file, then using LUNAs interface to select it. Just got some odd behavior to work out (not sure if the map is wrong or something else at present)

[2016-10-24 18:16] richiesgr commented on #83
Hi
I'm trying to do it for a PS3 controller
I need to use the map file for the controller you tell using LUNAs interface to select it
How do you make this ?
Thanks

[2016-10-24 22:19] hazardlabs commented on #83
richiesgr, I used the command:

`moonlight map GamePad.map`

to create the map file, then pointed luna to it using lunas interface. I did this all whilst in the home directory: `cd ~` which made finding the file easy.

You can also use the same map file with two or more controllers.

HL

[2016-10-25 17:48] richiesgr commented on #83
Hi
Sorry but I can't see how to configure luna with a map file. That's my question
I'm in osmc Luna is working but setting doesn't show any option for entering a map file
Thanks for all

[2016-11-02 18:33] wackerl91 commented on #83
@richiesgr
In Luna's settings there should be an option called "Select Input Device(s)" under "Input". Selecting this option should bring up another window. In there:
- add a controller field
- it comes up as Controller [No] - None (Disabled)
- selecting None (Disabled) brings up the Select Input Device window
- selecting any of the available input devices will pass it back to the previous screen

[2016-11-03 19:40] hazardlabs commented on #83
Always happy to help, if you need any testing further down the line just give me a prod.

HL

[2016-11-04 09:51] wackerl91 commented on #83
Let's leave this open for reference until it's resolved :)
If there's a test version I'll let you know! Thanks!

[2016-11-21 21:00] Panderine opened #84 "Add support for new moonlight-chrome (PC is deprecated)"
With PC version deprecated moonlight-chrome is the only way to use moonlight on a non-embedded device. Please make luna able to launch that from Kodi !. Thanks!

[2016-11-24 13:17] wackerl91 commented on #84
@Panderine
Related: https://github.com/wackerl91/luna/issues/82
The gist is: I had a quick look at this back then and couldn't find a way to pass CLI arguments to chrome addons (even launching them from command line is hard enough).

If anyone can think of a way to make this happen I'm more than happy to oblige. Until then there's nothing I can do really ...

[2016-11-24 16:24] #74 closed

[2016-11-24 16:50] #73 closed

[2016-11-24 16:51] wackerl91 commented on #80
Will be part of the 0.7.0. release, see #86

[2016-11-24 16:51] #80 closed

[2016-11-24 17:22] wackerl91 commented on #80
@heydude1337
Just as a side note, you will need to give this a try as soon as the next version has been released. I got no means of testing this on my end (no surround attached to my TV).
As always, your feedback will be appreciated!

[2016-11-25 11:05] wackerl91 commented on #81
See #88

[2016-11-25 11:05] #81 closed

[2016-11-25 14:48] wackerl91 opened #89 "Boolean Settings are not saved (e.g. scraper config)"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
Enabling / Disabling scrapers should stick when being changed from inside Luna.

**Actual Behaviour:**
All boolean settings are reset to their default values instead

[2016-11-25 14:50] wackerl91 opened #90 "Allow lazy proxies to be a base for tagged features (e.g. scraper chain)"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
Declaring a base for tagged features as lazy should return a proxy instance which holds proxy instances of said tagged features

**Actual Behaviour:**
The tagged features are lost, resulting in all kinds of malfunction

[2016-11-25 14:52] wackerl91 opened #91 "Removing a controller config breaks view"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
One should be able to add and remove controller configurations at will

**Actual Behaviour:**
Adding and instantly removing a controller configuration breaks the view (no element will be focused)

[2016-11-25 14:58] wackerl91 opened #92 "mDNS Discovery behaviour problems"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
mDNS agent should return all available hosts running GFE

**Actual Behaviour:**
Newer GFE hosts are missing

[2016-11-25 15:03] wackerl91 opened #93 "Listing Games fails if no scraper is enabled and scraper-chain isn't disabled"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
Listing all games including discovered information after adding a new host should work properly, even if no scraper is enabled and the scraper chain is not disabled.

**Actual Behaviour:**
If no scraper is enabled and the scraper chain isn't disab

[2016-11-27 01:37] tuzz opened #94 "Feature request: inherit Kodi's audio device"
- Luna Version: 0.6.3
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.10-1

**Feature request:**

Hi, thanks for building a great plugin. I was wondering if it would be possible to inherit the audio device in use by Kodi. I'm using a USB audio device and have it set up correctly in Kodi. I haven't been able to get it to work (yet) in Luna and

[2016-11-27 12:24] wackerl91 commented on #94
A possible solution for this depends on two things:
- does Luna's audio selection (or starting moonlight manually with the '-audio' option and proper parameter) work for you? I've said this numerous times on different occasions, the audio selection in Luna has been a feature request and I don't have the means to actually test it, but I never received any feedback on this.
- if there is a way to ge

[2016-11-27 13:48] #89 closed, assigned to nobody

[2016-11-27 16:33] #91 closed, assigned to nobody

[2016-11-27 17:31] wackerl91 commented on #90
~~The underlying issue that led to the above thought is that the CacheController (responsible for clearing the art / API cache) needs access to the scraper chain. The NvHTTP Scraper is part of that chain, but can't be initialised without the Host Context Service returning a proper value.
As such, there will be more architectural changes needed (implementing the above feature will not fix the under

[2016-11-27 17:42] wackerl91 commented on #93
This was the case due to a DI configuration problem where scrapers disappeared completely from the chain.

[2016-11-27 17:42] #93 closed, assigned to nobody

[2016-11-27 23:08] wackerl91 commented on #92
Seems to be an issue with how newer GFE versions announce the host on the network (including multiple dots), which isn't supported on 'older' zeroconf versions. [0.17.7-dev](https://github.com/jstasiak/python-zeroconf#0177dev) works fine, while 0.17.6 and 0.17.5 won't discover newer hosts.

[2016-11-27 23:44] wackerl91 opened #99 "Same games on multiple machines only show on one machine"
- Luna Version: dev
- nVidia GeForce Experience Version: 3.1.2.31
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.04-2

**Expected Behaviour:**
If the same game is installed on multiple machines, it should show up for every machine (e.g. Steam).

**Actual Behaviour:**
Game is only shown for the last refreshed host and is missing on any others
See: https://github.com/wackerl91/luna/blob/de

[2016-11-27 23:48] wackerl91 opened #100 "Create Log Channels / clean up current dev logs (should be moved to debug)"
Different parts of Luna should be able to log using different prefixes (channels), maybe injected as parameter in the DI.
While doing so, clean up the current logs so every statement has a proper prefix and resort them according to their actual level (most of them are debug statements ...)

[2016-12-01 13:17] #99 closed, assigned to nobody

[2016-12-01 13:21] wackerl91 opened #102 "Remove xbmcswift2 dependency / remove usages of 'RequiredFeature'"
* Remove the dependency to xbmcswift2 (there's almost nothing left that's being used)
* 'RequiredFeature' should never be used inside controllers / other services / ... - dependencies should always be injected using the DI. Might need to use factories on some occasions.

[2016-12-01 23:13] #100 closed, assigned to nobody

[2016-12-02 00:03] wackerl91 commented on #102
Needs own implementation of xbmcswift's 'get_setting' wrapper ... should be probably end up in Core class (xbmcaddon.Addon shouldn't be injected anywhere just to access settings)

[2016-12-03 13:10] #102 closed, assigned to nobody

[2016-12-03 15:16] wackerl91 commented on #94
@tuzz
Played around with Kodi's JSONRPC API for a bit ... it looks like the only (relevant) value I can get about the currently selected audio device is the name shown in the UI, e.g.:
[code]
I could hardcode some known special cases, like Pi: Analogue translating to bcm2835 ALSA and Pi: HDMI translating to (probably, correct me if I'm wrong) bcm2835 IEC958/HDMI.

All other devices will be problem

[2016-12-03 16:21] wackerl91 commented on #84
It seems to be possible to pass a file to a chrome app: [SO Post](http://stackoverflow.com/questions/19227472/how-to-open-a-chrome-packaged-app-with-a-parameter-on-windows). However, moonlight-chrome would need to support that behaviour and from what I can see by looking at their manifest.json it currently doesn't.

[2016-12-04 01:14] tuzz commented on #94
Hi @wackerl91, thanks for your detailed response.

I don't have a huge amount of knowledge to offer in this regard, but I can share my thoughts.

Firstly, it's a shame you can't retrieve that information from Kodi's APIs. I would have thought there are other plugins that produce audio, but I guess that's different because they're not passing a specific device identifier to a third-party program.

[2016-12-04 02:03] wackerl91 commented on #94
Believe me, I'd love to get some more detailed information from Kodi :-/
I can paste the output of aplay -l, aplay -L and /proc/asound/cards while the G35 is attached, but I'd rather do so tomorrow / on Monday as it's kinda late right now.
I guess my issue with this will be obvious once you have a look at those outputs.

As a side note: while trying to find a solution for your FR I already correct

[2016-12-04 11:58] wackerl91 commented on #94
@tuzz
Warning, huge wall of text ;)

aplay -l
[code]

aplay -L
[code]

Parsing /proc/asound/cards isn't as straightforward as the others above (still no magic involved).
[code]
For every device listed above there's a folder called `cardX`, e.g. card1 for the G35. Inside that folder are various other files and folders:
[code]
The most interesting folders are the `pcmXp` folders (`pcmXc` are capture

[2016-12-08 10:39] #92 closed, assigned to nobody

[2016-12-09 13:58] cravussin opened #108 "Audio selection not working with USB DAC"
Hello,

On the latest stable release 0.6.3, my USB DAC isn't working when I select it from the GUI: upon launching moonlight I get an **ALSA error: -16**

Oddly, it did work a couple of times, but when I launched another game the error came back.

Here's the output from aplay -l

[code]

Many thanks for your work.

[2016-12-10 15:59] A---- opened #109 "Can't access game list in 0.7-rc1"
- Luna Version: **0.7.0-rc1**
- nVidia GeForce Experience Version: 2.11.4.0
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2016.11-1

Devices got paired, but when clicking on the PC's name, a dialog flashes (do not have time to read it) and does nothing. I guess I should be seeing the game list next.

I have the following out of bound error in my kodi.log:

[code]

I tried to clear the game c

[2016-12-12 10:46] wackerl91 commented on #108
@cravussin
Thank you for your feedback!

Can you check if the expected device (i.e. the one you selected in the UI) is properly written to the config file produced by Luna? (It's usually in `~/.kodi/userdata/addondata/script.luna/.storage/luna.conf`)
Furthermore, does the UI show all devices, including both USB devices (similar to aplay's output)?

[2016-12-12 12:24] A---- commented on #109
Looks like it comes from here:
https://github.com/wackerl91/luna/blob/develop/resources/lib/scraper/scraperchain.py#L20

It seems that the game is neither `Steam` or `Steam Bootstrap Client`, and that the `scraper_chain` is not populated (or none of them are enabled).

I'll spread some log-call sprinkles around, see what's what.

[2016-12-12 14:46] wackerl91 commented on #109
Yep, that's the location. Either way, there should be some check in place to catch an empty list (although that should never haben).

The scraper-chain should never be empty. (Reference: https://github.com/wackerl91/luna/blob/develop/resources/lib/config/features.yml#L137)
As you can see, there's one more scraper than in the settings (NvHTTP), which [should always be enabled](https://github.com/wa

[2016-12-13 09:53] wackerl91 opened #110 "Storage path not automatically created"
- Luna Version: 0.7.0-rc1
- nVidia GeForce Experience Version: -
- Moonlight Embedded Version: -
- OSMC Version: 2016.11-1

**Expected Behaviour:**
Storage path should be created if it doesn't exist before it is used (for example on new installations).

**Actual Behaviour:**
It's not checked before its first use, preventing the start of the addon until the folder is manually created.

[2016-12-13 09:56] wackerl91 commented on #110
[code]

[2016-12-14 12:47] wackerl91 commented on #109
@A----
Does this also fail for you if you enable at least on of the scrapers in the settings (e.g. OMDb, it's the fastest)?
I won't have time to properly look at this for the next couple days, so if you have some time to provide some additional information it's greatly appreciated!

[2016-12-14 13:00] A---- commented on #109
I didn't change the settings since the 0.6.3, so I think there are scrapers enabled.
I did not have the time to have a look at it these last few days but sure.

[2016-12-14 13:07] wackerl91 commented on #109
Well, I don't want to cause you any inconvenience by checking this - if you currently don't have too much time as well, that's perfectly fine and I'll just debug the entire setup process (might need to have to do so anyway, because of a weird storage bug).

That being said, I believe that most of the settings should migrate properly ... hard to tell for me, because I never went from a clean 0.6.3.

[2016-12-14 13:49] A---- commented on #109
That's also something that I'll try, to uncheck scrapers, save conf, recheck them, save, but I'll try to provide information before doing so.

[2016-12-14 18:08] A---- commented on #109
Adding `self.logger.info("%d scrapers in the chain!" % len(self.scraper_chain))` after `if nvapp.title not in self.game_blacklist:` tells me that yes, there are no scrapers available

Adding `self.logger.info("Appending %d scrapers" % len(scrapers))` to `def append(self, scrapers):` tells me it's never called.

So I tried to place `assert False, 'Message'` (I only have written a few thousands line

[2016-12-14 18:19] wackerl91 commented on #109
You're right, that's fishy.
I'm on my phone right now, so sorry for the short answer.
Given that the .pyo files are missing and append is never called, I suspect that [this block](https://github.com/wackerl91/luna/blob/develop/resources/lib/di/requiredfeature.py#L81) is throwing a key error (which is expected to happen, thus I'm not reacting).
I'll have to have a look at this tomorrow ... that par

[2016-12-14 18:54] A---- commented on #109
I had a folder named `addons/script.luna` (previous version?) and that one did not have a `nvhttpscraper` registered in its `features.yml`. So I did a clean install and removed any folder that had luna in it

I have the same `.storage` creation issue as someone else, fixed it and… same error.

So back to where I was. To the block you mentioned. I have an `abcscraper.pyo`, probably loaded by `NvHTT

[2016-12-15 02:00] #110 closed, assigned to nobody

[2016-12-15 02:31] #109 closed, assigned to nobody

[2016-12-15 02:49] wackerl91 commented on #109
Which zip did you download from the release page? The ones I attach manually (in this case called `script.luna-0.7.0-rc1.zip`) should install to `script.luna`.
~The NvHTTPScraper did not exist back in 0.6.3~ (Edit tells me: It did exist in that version and it was also wired using the DI - stupid me! Might be that the folder you had lying around was even older than that, all the Nv* stuff is pretty

[2016-12-15 07:35] A---- commented on #109
So obvious now.

I installed the RC2 and its scraping the game list at the moment.

Thanks a lot!

[2016-12-15 12:03] wackerl91 commented on #109
I'm glad that this is working for you now!

Don't hesitate to let me know what you think of the new UI and if you run into any further bugs!

[2016-12-15 21:53] Roboron3042 opened #113 "Pair and settings not working on RPi & ArchARM"
- Luna Version: 0.7.0-rc2
- nVidia GeForce Experience Version:  3.2.0.96
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 16.1

**Expected Behaviour:** The settings, pair host and game list work within Luna.

**Actual Behaviour:** Only system sound settings and map controller works.

I'm trying to use Luma on a Raspberry Pi B+ with Arch Linux ARM and Kodi Jarvis 16.1. Howewer, while I can use m

[2016-12-16 13:11] wackerl91 commented on #113
Heya @Roboron3042,

that's a pretty detailed description of things going wrong, and I'd like to explain some of the behaviour you're seeing.

That's because of two reasons: I have to put the keys into different directories based on the host ID to enable the multi-host support. By default, moonlight-embedded places all keys into  `.cache/moonlight` while Luna is looking for sub-dirs.
Additionally t

[2016-12-18 15:12] heydude1337 commented on #113
Same behavior as the OP with osmc and RC2 on my rpi3. The add host button does nothing. The settings button shows the settings menu. However none of the items is highlighted yellow, so I can't navigate. Even the back button doesn't bring me back to the menu. I have to restart kodi after opening the settings menu.

Logs:
After starting Luna:

16:06:58 1829395.625000 T:1750373360   DEBUG: RunQuery t

[2016-12-18 15:51] knives49 commented on #113
Luna Version: 0.7.0-rc2
    nVidia GeForce Experience Version: 3.2.0.96
    Moonlight Embedded Version: 2.2.2
    OSMC Version: VERSION_ID="2016.11-1" up to date

same here, luna 0.6.3 works fine, pair and option.
where is the log for luna ?

[2016-12-18 18:21] wackerl91 commented on #113
@heydude1337

As I've said above:

I'm sorry to say that, but the other two log snippets (after starting and after click the Add Host button) do not help as they don't contain a single log entry produced by Luna (the only reference is the XML being loaded for the main menu, and that's logged by Kodi).

Generally, enabling Kodi's debug mode when posting logs for Luna does nothing other than spam th

[2016-12-18 18:30] heydude1337 commented on #113
I did a clean install, I uninstalled luna from within kodi and then removed the script.luna directory in de user_data/addons folder. Is there something else to remove maybe?

Don't have much time now (and back on the alpha version). I ll try to get a better log entry this week.

[2016-12-18 19:34] knives49 commented on #113
this is my log, when update luna to the end.

http://pastebin.com/S9YTqvSV

[2016-12-18 19:58] wackerl91 commented on #113
@knives49
Thanks for the log. If I'm not mistaken, you had to start the add-on twice, right?
The first attempt was line 1 to 84 in those logs, where literally nothing should have happened (that's a DI issue, should be unrelated to what you're seeing now).
And the second time you clicked the "Settings" button. Again, I do know why you can't open the settings and I've said so since me very first rep

[2016-12-18 20:04] knives49 commented on #113
yes, the first start, I had an error message.
the second time, luna start well.
I press the add host 4 time but nothing happen, just the sound of the selection, nothing else...
after, I go to the settings and locked here, I must restart kodi.

[2016-12-18 20:11] wackerl91 commented on #113
Thanks for clarifying that! Kinda strange that the selection sound played ...
Can you also tell me which skin you're using right now? (If your immediate answer would be "How would I know?" it's likely the default skin ;) )
I suspect that either one of my method calls is absolutely bonkers or it's a a strange interaction with some skins. I'd just love to try and reproduce this under the exact same

[2016-12-18 20:19] knives49 commented on #113
aeon nox, but the default skin have the same bug.
For information before update Luna yesterday, I update osmc with sudo apt-get update and sudo apt-get dist-upgrade

[2016-12-22 13:34] #113 closed, assigned to nobody

[2016-12-22 13:38] wackerl91 commented on #113
The next RC (will probably be released sometime tonight) should resolve both the mentioned problems. If it doesn't please let me know by reopening this issue.

@Roboron3042
Since you're using ALARM, you'll have to change the launch scripts according to your installation (service name for Kodi, binary path, ...), otherwise they will just fail (most likely silently).
Possible solutions for this have

[2016-12-22 13:43] wackerl91 commented on #94
@tuzz
Is there still something to be done / discussed here or can we close this issue? :)

[2016-12-22 17:37] knives49 opened #117 "Add host nothing happen after Ip Address"
- Luna Version:0.7.0 RC3
- nVidia GeForce Experience Version: 3.2.0.96
- Moonlight Embedded Version:2.2.3
- OSMC Version: the last with all update

**Expected Behaviour:**
Show the added host
**Actual Behaviour:**
when I add host, I have the pop-up for enter IP address but nothing happen after.

The log.
http://pastebin.com/WMSxgFnH
the first time, with aeon nox skin, the second time with the clas

[2016-12-22 20:42] #117 closed, assigned to nobody

[2016-12-22 20:48] wackerl91 commented on #117
Tested the fix in the following way (there's no need to do this on your end, just want to explain what happened):
- uninstalled zeroconf and pycrypto (I need to do this to force usage of the IP Input and SimplePairingManager)
- cleaned the entire moonlight cache dir on my Pi
- started Luna, clicked the Add Host button
- entered the IP address
- got prompted with a code, entered it on my Notebook,

[2016-12-22 21:26] knives49 commented on #117
thanks for you hard work :)

[2016-12-22 21:56] wackerl91 commented on #117
I'm doing this just for fun, really :) Which is why sometimes there's a lot happening (e.g. right now) and other times I'm not touching the code for weeks.

[2016-12-23 14:35] heydude1337 commented on #113
Performed a clean install of osmc (new SD card). Downloaded the RC3 zip and installed. Installation is ok, but the +host button is still not working for me.  Here is the log:

[http://pastebin.com/DfiW0TGE](http://pastebin.com/DfiW0TGE)

[2016-12-23 14:43] knives49 commented on #113
can you enter an IP address ?
if yes, this is another bug.
I report this bug here and it is already debug :)
https://github.com/wackerl91/luna/issues/117
Just wait for a RC4

[2016-12-23 14:44] wackerl91 commented on #113
This log looks like Luna didn't even start properly (or at least shouldn't). The router component died while building its cache, so pretty much no button should work in a case like this.
Please try again, if the addon is starting up properly all the buttons should work (I.e. if there's no error in the log before you reach the main menu).
Still the log might be helpful in finding out why the DI cra

[2016-12-23 14:46] wackerl91 commented on #113
@knives49
You're really fast :D
His issue is a different one right now though, which should be resolved by just restarting the addon. He might run into the one you discovered later on :)

I hope I can get RC4 out today. Need to debug some of the views first :-/

[2016-12-23 16:16] heydude1337 commented on #113
here is the entire log

[http://pastebin.com/9XED0Zdv](http://pastebin.com/9XED0Zdv)

edit: moonlight is not properly working need to fix that first I guess.

[2016-12-23 16:27] wackerl91 commented on #113
Thank you so much!

And there's your real problem:
`raise ValueError('Moonlight binary could not be found.')`

~Since I'm still somewhat expecting that Luna is installed on OSMC only, the binary locations are currently hardcoded [here](https://github.com/wackerl91/luna/blob/develop/resources/lib/util/confighelper.py#L221):
`'/usr/bin/moonlight',
'/usr/local/bin/moonlight'`~

~You'll need to edit t

[2016-12-25 14:29] wackerl91 commented on #83
It appears that Kodi is blocking any reads from attached input devices (at least when xboxdrv is used, but I guess this will be the same for any driver).

I've tested this using both the `/dev/input/jsX` and the `/dev/input/eventX` devices. Here's the script I've used for `eventX` (requires python-evdev, installable via `sudo pip install evdev`):
[code]

xboxdrv is auto-started via rc.local:
[code

[2016-12-28 17:44] hazardlabs commented on #83
I'm thinking that proving default mappings would be a good way to go. Most games provide a mechanism to allow the remapping of game controls which would be away around it.

I've only used a PS2 like controller from GAME uk, and previously used x360ce on windows to do my mappings. When you run the x360 mapping application, it tries to search for a user submitted mapping online and apply it.

Could

[2017-01-02 10:21] wackerl91 commented on #83
In general that's a really good idea. Providing default mappings as part of the repo isn't so much of an issue (other than that I only got ones for X360 controllers myself). I wouldn't automate a "push" to the repo from inside Luna though, but rather write a small web service that's automatically checked and where users can upload their own mapping files (possibly including a small vote system to

[2017-01-04 14:30] mchrbn commented on #83
Hey @wackerl91, awesome project you did!

I also had an issue with my Xbox360 controller (not wireless) not being mapped correctly. The workarounds above didn't work for me so I ended up doing the following thing and it works. Just posting it here in case someone is in the same case as me.

1. Installed xboxdrv via `sudo apt-get install xboxdrv`

2. `sudo xboxdrv --detach-kernel-driver --buttonmap

[2017-01-04 22:23] wackerl91 commented on #108
As always with issues that don't receive any more input, this is now closed as it can't be reproduced on my end.
Feel free to reopen it if the problem persists and more information can be shared.

[2017-01-04 22:23] #108 closed, assigned to nobody

[2017-01-04 22:23] #94 closed, assigned to nobody

[2017-01-04 23:58] wackerl91 commented on #83
@mchrbn
Well, that's another way to handle mapping issues ;) The D-pad mappings should have pretty much the same effect as `--dpad-rotation 90` if I'm not confused? Might make this snippet a bit less easier to read / adapt.

That being said, you don't need to include `sudo` when adding the command to rc.local (that's always executed as root) and `--detach-kernel-driver` is obviously only needed if

[2017-01-19 10:50] wackerl91 opened #122 "Controller Configuration not opening if previously selected device is not present anymore"
- Luna Version: 0.7.0-rc5
- nVidia GeForce Experience Version: ---
- Moonlight Embedded Version: ---
- OSMC Version: 2016.04-2

**Expected Behaviour:**
Entering the Controller Configuration screen should be possible even if a previously selected controller is not attached to the system anymore. Additionally it should be automatically removed from the list and storage.

**Actual Behaviour:**
An exc

[2017-01-19 10:52] wackerl91 commented on #77
@brainstormi
Support for pre/post scripts has been added a while ago now. I don't think that I will do the Pi specific way to change refresh rates as this would further limit portability. Instead, every (advanced) user can do this on his own using the system in place (which already was a useful addition, thanks for the suggestion!)

[2017-01-19 10:52] #77 closed

[2017-01-19 11:01] wackerl91 opened #123 "Games manually added to GFE listed twice"
- Luna Version: 0.7.0-rc5
- nVidia GeForce Experience Version: ---
- Moonlight Embedded Version: ---
- OSMC Version: ---

**Expected Behaviour:**
Every manually game should be listed only once.

**Actual Behaviour:**
Instead, some / all of them are listed twice.

**Note:**
This has been a report from another user and I'm missing most of the required information to debug this. If anyone is experien

[2017-01-19 11:01] #122 closed, assigned to nobody

[2017-01-19 11:20] wackerl91 opened #125 "Graphic glitches on skins other than OSMC default"
- Luna Version: 0.7.0-rc5
- nVidia GeForce Experience Version: --
- Moonlight Embedded Version: --
- OSMC Version: 2016.04-2

**Expected Behaviour:**
Settings and Controller Configuration screens should look exactly the same on all skins

**Actual Behaviour:**
They're using different assets on different skins (i.e. the skin default assets)

[2017-01-19 11:30] Roboron3042 commented on #61
I don't know if this is going to be helpful, but I followed the suggestions in @wackerl91 's  first comment:

And when I try to launch a game from Luna i get a black screen with a error message:

`unknown: i need something more specific`

Maybe later I will try the solution of @TTherouanne last comment.

[2017-01-19 11:49] wackerl91 commented on #61
@Roboron3042
Following @TTherouanne's guide is indeed your best bet, as my first comment was a complete shot in the dark, simply stating what the current implementation expects.

When following his steps please keep in mind that the implementation has changed a lot since then (this is especially true for the 0.7.0 release candidates). You might want to have a look at the current state of the [moon

[2017-01-21 12:58] knives49 commented on #123
I have this issue but for the game I add manually in the shield menu of GFE.
cracked games appear twice also :)

[2017-01-21 12:59] wackerl91 commented on #123
Thanks for your feedback. The last line is pure gold ;)

What GFE version are you running? Since you also own a shield, has this always been the case or did a GFE update introduce this behaviour?

[2017-01-21 13:10] knives49 commented on #123
GFE 3.2.2.49
I don't have the shield but in the GFE settings, you have a windows "SHIELD"
you can manually add games here even if the game is not officially supported for "gamestream"
If you add a game here with a modfied shorcut (for exemple "C:\Program Files\Sierra\Half-Life\hl.exe" -console), the game appear twice.

[2017-01-21 13:12] wackerl91 commented on #123
Oh, misunderstood you then. That's what I get for not reading properly.
I'll try your directions, see if they pop up twice as well and if I can filter them out! Thanks!

[2017-01-22 10:21] DeeHechEss opened #126 "Cannot open the controller setup screen."
- Luna Version: 0.7.0-rc5
- nVidia GeForce Experience Version:  3.2.2.49
- Moonlight Embedded Version: Not sure, I can find out if its important
- OSMC Version: release 2016.12-1

**Expected Behaviour:**
Opens the controller setup screen
**Actual Behaviour:**
Nothing happens, settings menu and game menu work as normal.

Also the reason im trying to access it is Im trying to get the controller work

[2017-01-22 22:03] wackerl91 commented on #126
Most likely duplicate of #122.
Wait for the next RC, this should work again afterwards. If it doesn't please reopen this issue and provide the logs.

To resolve your issue in the meantime, you can try to delete the 'input_storage' file in this directory:
`~/.kodi/userdata/addon_data/script.luna/.storage/`. This usually enables you to open the controller config again.

[2017-01-22 22:03] #126 closed, assigned to nobody

[2017-02-01 14:26] Zelaf opened #128 "Can't change audio device to Analog."
- Luna Version: 0.7.0-rc4
- nVidia GeForce Experience Version: 3.3.0.95
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2017.01-1

**Expected Behaviour: To be able to change audio output to Analog so I can use our better speakers.**

**Actual Behaviour: Can't change from HDMI.**

I want to be able to change from HDMI output to Analog output but I can't find out how, I know of the -audio flag b

[2017-02-07 16:51] ShayBox opened #129 "Fix Kodi 17"
- Luna Version: 0.7.0-rc5 (But all do it)
- nVidia GeForce Experience Version: 3.3.0.95
- Moonlight Embedded Version: Latest
- OSMC Version: 1-1-2017 Updated to Kodi 17

**Expected Behaviour:**
To Work
**Actual Behaviour:**
Not Working

Install, Pair, and Freezes and Crashes on Getting information for Minecraft, which isn't in my GFE gamelist, but its looking for it anyway. Worked in Kodi 16, Kodi

[2017-02-08 09:18] wackerl91 commented on #128
Thanks for your report.
Switching the audio device should be possible by using the "Audio Configuration" option in Luna. While this works for external devices (e.g. USB sound cards / headsets), it doesn't seem to work for switching from HDMI to analog (even though both should be shown and - at least in my case - assign the proper device ID internally). When starting a stream this uses moonlight's

[2017-02-08 09:23] Zelaf commented on #128
How do I set the default output in terminal?

[2017-02-08 09:24] wackerl91 commented on #129
Thanks for the report.
I will investigate this and try to fix it as soon as I can find some time.

What really bothers me is this:

I guess that it's installed on your PC, everything else would be pretty weird. Are you absolutely positive that it's shown neither on the "start" screen of GFE nor has been added manually in the past (the list of manually added games should be somewhere in the setting

[2017-02-08 09:26] wackerl91 commented on #128
Try [this](https://www.raspberrypi.org/documentation/configuration/audio-config.md) - especially the part using amixer. If this doesn't work I'll need to have a look at my scripts when I'm back at home.

[2017-02-08 17:43] ShayBox commented on #129
I do have it installed, but I didn't add it to the GFE list, and its not there right now... so I don't know why Luna is trying to find it

[2017-02-08 18:04] wackerl91 commented on #129
Well, most probably because it's reported by GFE. The entire list is pulled directly from the host and nothing is really added or removed by Luna, all that happens is just processing the list entries to add covers, etc if they are new. To decrease processing times all old values are cached and stale entries should be removed from the cache ... an invalid cache shouldn't be the case either, as no a

[2017-02-11 20:33] posti85 opened #130 "Can't list games (because their info can't be got)"
- Luna Version: 0.6.3-alpha
- nVidia GeForce Experience Version: 3.3.0.95
- Moonlight Embedded Version: 2.2.2
- OSMC Version: 2017.02-2 (first Krypton release)

**Expected Behaviour:**
After I susscefully pair my PC, I try to open the game list (just enter the addon).

**Actual Behaviour:**
Error opening the addon: It seems is because luna can't get the game info, and the it fails loading the list

[2017-02-12 01:41] Zelaf commented on #130
Heads up, they recently released an update fixing some issues so manually search for updates :)

Also, sorry for not providing anything valuble to fixing the issue.

[2017-02-12 08:35] wackerl91 commented on #130
Skipping API providers if they're not accessible for some reason is a valid request.

For now simply disable the OMDB Scraper in the settings as a workaround.

Edit: To me it looks like OMDB has filtered out all games. If someone can confirm this, the scraper will most likely be removed entirely, leaving only The Games DB and IGDB as an option.

[2017-02-12 09:42] wackerl91 commented on #129
I had a look at this with a fresh OSMC 2017-2 installation, including Kodi 17.
Installing, pairing and listing games does work, but there are some major interface issues (missing backgrounds, game posters aren't loaded properly, some style inconsistencies and the like).
Streaming works as well.

So basically, apart from it being ugly right now, it's not completely broken.

@ShayBox Please make sur

[2017-02-12 09:50] wackerl91 opened #131 "IGDB API Changes"
Update IGDB Scraper to reflect changes to their API.

Note: IGDB does not work anymore with the current implementation.

[2017-02-12 11:03] posti85 commented on #130
Did you mean setting default to false in this line?
[code]
it didn't work for me.

[2017-02-12 11:12] wackerl91 commented on #130
There's a settings item in Luna's main menu which opens ... well ... the add-on settings. Literally no need to change a single file by hand ...

[2017-02-12 21:29] ShayBox commented on #129
I got it working again, I had flashed 2017-2-2 OSMC and tried again, and it
worked.

On Sun, Feb 12, 2017 at 4:42 AM, Ludwig Wacker <notifications@github.com>
wrote:

[2017-02-13 10:35] wackerl91 commented on #129
Well, since your initial issue seems to have solved itself and most of the interface fixes are already part of the latest RC, I'll close this issue.

Feel free to re-open it if it stops working again for some reason.

Again, thanks for the report!

[2017-02-13 10:35] #129 closed, assigned to nobody

[2017-02-15 10:35] wackerl91 commented on #130
From the exceptions gathered by Eos: OMDB now returns `HTTP Error 503: Service Unavailable` instead of the aforementioned 403 - the entire scraper will be removed with the next update.
To compensate this, I'm looking into enhancing Eos to provide proxied access to IGDB.

For now - as mentioned above - if you can't get a game list due to this circumstances just disable the OMDB scraper in Luna's se

[2017-02-15 12:01] TheBready commented on #130
That fixed my issues. Thanks.

[2017-02-15 18:17] Kiina opened #133 "Crash even before it loads anything"
- Luna Version: Luna 0.7.0-rc6
- nVidia GeForce Experience Version: 3.3.0.95
- Moonlight Embedded Version: 2.2.2

So first I don't use OSMC but ubuntu. But when I try to start luna it crashes before loading anything. The logs show the following:

[code]

[2017-02-16 16:17] wackerl91 commented on #133
Seems there is an issue with getting a UID ... which is either Eos not returning one or the UID file already exists, but is empty.

Can you check if you can find a `.eos_uid` in Luna's `.storage` dir? (Yes, both of them are hidden ... you can use `ls -a` to list all files and folders, just in case you're not too familiar with *nix)
The storage dir should be at `/home/kodi/.kodi/userdata/addon_data

[2017-02-16 17:51] Kiina commented on #133
The .storage directory is empty

[2017-02-16 18:17] wackerl91 commented on #133
That's really hard to believe, given that
a) I had no issues generating a UID using an arbitrary HWID from my phone just now, so new UIDs can be requested and are properly generated
b) there's not much that happens at this stage:
either the ID file exists or it doesn't. If not, a HW ID String is generated and used to get a UID from Eos. If Eos isn't reachable (I.e. the request timed out, as the ap

[2017-02-17 10:06] Kiina commented on #133
So to be sure I just rm -rf the content of the .storage directory. Doesn't change. So just for testing I tried it on my Windows testing installation of kodi:

[code]

The exact same error, even though moonlight isn't even installed on my Windows. So could it be possible that it has trouble finding moonlight on my device but just doesn't log right?

[2017-02-17 11:30] wackerl91 commented on #133
Nope, if moonlight can't be found it crashes early, but later than when your installations do.

From a fresh Kodi / Luna install on OSX:
[code]
(The key error happens because the return value of a JSON RPC call seems to be different under OSX, never seen this under Linux).

By looking at the database, a UID was generated for this installation - server logs for Eos confirm this.

There's something

[2017-02-17 11:40] Kiina commented on #133
Oh okay so Eos was the telemetry service. Thats funny because one of the first things I disabled was this service, so it's actually disabled and still throwing this error. Tried to re-enable it, same logs. curl to the heroku site works fine.

Settings.xml say `<setting id="enable_telemetry" value="false" />` so it should definitely be disabled

[2017-02-17 11:56] wackerl91 commented on #133
Ouh, ouch ...
Well, by design it shouldn't even get there if you disable it, as that kind of decision has to be up to the user (and transparent) in my opinion - even though the logs and exceptions it's gathering really help a lot, in the last week since this has been deployed I stumbled over at least 3 major issues which haven't been reported by users. So in the end it's there for a reason and whi

[2017-02-18 19:27] v4mpir0ck opened #134 "Pre-scripts launch?"
- Luna Version:Luna 0.7.0-rc6
- nVidia GeForce Experience Version: 3.3.0.95
- Moonlight Embedded Version:
- OSMC Version: 2017.02-2
hi, thanks for you awesome work, im noob here so sorry.
is there any chance to change resolution to stream (predef 1280 x 720) to 1920x1080?
how works pre-scripts?

[2017-02-18 20:00] #134 closed, assigned to nobody

[2017-02-18 20:00] v4mpir0ck commented on #134
sorry, i find it.

[2017-02-21 22:05] wackerl91 opened #135 "Fix mouse control in views"
- Luna Version: 0.7.0-rc6

**Actual Behaviour:**
Using a mouse in any of the views causes exceptions to be thrown because there is no current element.

[2017-02-22 15:50] ShayBox opened #136 "EoS Error"
- Luna Version: Latest
- nVidia GeForce Experience Version: Latest
- Moonlight Embedded Version: Latest
- OSMC Version: Latest

**Expected Behaviour:**
Load game lost
**Actual Behaviour:**
EoS Error

So, clicking the host, shows its trying to get game info, for games that are installed, but not in the GFE list...
I only want steam to show up on the list, because Luna doesn't launch the game half t

[2017-02-22 15:53] ShayBox commented on #136
Best solution would be to include more options.
Allow users to turn off game indexing.
Disable the new exception dialog closing
etc. if you add something, add a setting for it.

As it stands right now, I have to install r4, let it take over a week to index all the games, then update to r6 and clear the game cache. I'm not willing to do that.

[2017-02-22 17:06] v4mpir0ck commented on #136
You can uninstall gfe in the host, delete al hidden folders in
users/local/apps... And reinstall again, there will be only what you add
manually

El 22/2/2017 16:50, "Shayne Hartford" <notifications@github.com> escribió:

[2017-02-22 22:18] wackerl91 commented on #136
@ShayBox Thanks for your feedback. You can find answers to your individual points below, but I took the liberty to group similar points from your two comments together.

Thanks to EOS, that shouldn't be necessary ...

... and that's not really an accurate description of the issue. From what I could gather by looking through the exceptions thrown today, requests to nvidia's GFE API were refused, wh

[2017-02-23 00:24] Kiina commented on #136
Well the last stable version is tagged as alpha. So normally it is alpha > beta > rc > rtm in terms of stability. So even though it is tagged as Pre-Release I expected the rc to be more stable then the alpha. So its basically the rc for v0.7.0-alpha?

[2017-02-23 01:00] wackerl91 commented on #136
Ever since 0.6.0 the more stable releases aren't tagged with GitHub's pre-release tag anymore. That distinction is needed to allow for differentiation between ... well, more or less stable releases and to give users the choice to update to the "latest and greatest" which will naturally be more error prone.
I had to make an easy distinction between those two kinds of releases for the update mechani

[2017-02-23 10:42] wackerl91 commented on #136
@ShayBox
A proper solution for showing only Steam would be to introduce a filter system to the game list, which could be extended at some point to provide many more things than just hiding games.
What I have in mind (in short):
- each game entry will receive an additional flag to hide it individually, which can be controlled from the game's context menu. Steam (and potentially other launchers, if

[2017-02-24 09:29] wackerl91 commented on #125
This has been fixed when resolving #129

[2017-02-24 09:29] #125 closed, assigned to nobody

[2017-02-24 10:18] #133 closed, assigned to nobody

[2017-02-24 10:19] #135 closed, assigned to nobody

[2017-02-24 10:19] #130 closed, assigned to nobody

[2017-02-24 10:24] Zelaf commented on #128
It worked, sorry for not giving feedback but I don't think it's an optimal solution for end users.

[2017-02-24 10:34] wackerl91 commented on #128
No worries, was just doing some house keeping on the issues ;)

I do agree about this not being an optimal solution, yet there's only so much I can do about that and that's pretty much passing the proper device to moonlight.
In general moonlight's audio switch works, as there have been reports from others (using moonlight on command line) that they were able to switch between HDMI and analog using

[2017-02-24 10:38] Zelaf commented on #128
I agree with coming back to this later as it shouldn't be much of a priority at the moment, I reinstalled OSMC and there seems to be other issues at hand right now. But I know this program/script/thing is gonna be amazing in the future.

[2017-02-24 10:40] wackerl91 commented on #128
Anything that's not already reported? Just curious, as I'm fixing a lot of the smaller stuff right now and could squeeze something in if it's not too much work :)

[2017-02-24 10:41] Zelaf commented on #128
Nothing breaking but there seems to be some things I have to do twice before it working.

[2017-02-24 10:43] wackerl91 commented on #128
Well, if you can identify specific parts where this occurs please open another issue and let me know, all right?
Thank you so much!

[2017-02-24 10:43] Zelaf commented on #128
I will!

[2017-03-13 07:42] wackerl91 opened #141 "Handle missing Moonlight binary"
- Luna Version: ~0.7.0
- nVidia GeForce Experience Version: N/A
- Moonlight Embedded Version: N/A
- OSMC Version: N/A

**Expected Behaviour:**
If the moonlight binary can't be found a dialog should be shown to inform users. Additionally, allow custom locations for the binary (e.g. self-compiled versions).
An exception should not be thrown anymore. All actions that depend on the binary being presen

[2017-03-13 07:50] wackerl91 opened #142 "Connection Timeout / Max. Retries Exceeded when pairing by IP"
- Luna Version: ~0.7.0
- nVidia GeForce Experience Version: N/A
- Moonlight Embedded Version: N/A
- OSMC Version: N/A

**Expected Behaviour:**
User should be informed that a connection to the host with the entered IP address is not possible.

**Actual Behaviour:**
Fails more or less silently, just stating that an exception has occurred / logged.

If anyone reading this experienced this issue and c

[2017-03-13 07:54] wackerl91 opened #143 "Property 'window' missing on game list"
- Luna Version: 0.7.0-rc7
- nVidia GeForce Experience Version: N/A
- Moonlight Embedded Version: N/A
- OSMC Version: 2017.02-2

**Expected Behaviour:**
Entering / leaving the game list should always be possible without an exception being thrown (even when rendering is not complete).
If it the view can't be loaded log it as an error and show a dialog to the user.
Cleanup of window objects should ha

[2017-03-15 03:59] jmans25 opened #144 ""Override Default Resolution" setting ignored"
I cannot get the "Override Default Resolution" setting to work. It just ignores whatever I have inputted, and runs at 1920x1080. I have enabled the setting, and set the resolution to 1280x720. I have also tried the "enable custom resolution" option and it doesn't work either.

Am I doing something wrong?

Information:
- Luna Version: 0.7.0~rc7
- nVidia GeForce Experience Version: 3.4.0.70
- Moonli

[2017-03-15 09:40] wackerl91 commented on #144
No, you're not doing anything wrong. Those settings are supposed to work just as you described using them; if they don't then it's most likely a bug.
The only confusing thing is that [moonlight-embedded's Wiki](https://github.com/irtimmer/moonlight-embedded/wiki/Usage) states that the default resolution is 1280x720, but I don't know if this has been changed and the Wiki hasn't been updated accordi

[2017-03-15 15:08] jmans25 commented on #144
Thank you for your reply dev!

[code]

***Update***
I forgot to mention that I tried moonlight from the command line via SSH manually
`moonlight -720 -60fps`
And it worked properly. I did not try to specify `-height` and `-width` manually, however.
With that command, steam and Rocket League both run correctly @720p
With luna, Steam runs correctly @720p but RL doesn't (it runs at 1080).
I haven't t

[2017-03-16 10:47] wackerl91 commented on #144
Switching the resolution between Steam Big Picture and the actual game sounds fishy.
From the additional information you provided it might be worth a shot to add -720 or -1080 keys to the config file if the respective resolution is enabled in Luna's settings (instead of individual height / width values).
I'll investigate this further (probably on the weekend) and try to find a fix for it.

Thanks

[2017-03-18 20:21] BoBBer446 opened #145 "xbox360 wired Controller - Right Config"
All Versions up to Day: Today
How i can config Xbox360 wired Controller?
There many different ways to config...
have i do step one this:
https://github.com/irtimmer/moonlight-embedded/wiki/Controllers-set-up

and step two:
https://github.com/wackerl91/luna/wiki/Controller-Configuration

or only one of the configs?

[2017-03-19 09:52] wackerl91 commented on #145
@BoBBer446
The controller config posted on Luna's Wiki is kind of outdated since it aimed at setting up the controller to work in both Kodi and moonlight. With OSMC / Kodi having a controller config tool on their own now, that's not necessary anymore.

In short, for any installations where you don't need controller hot-plugging just follow the steps listed in moonlight-embedded's Wiki and you shou

[2017-03-19 10:49] BoBBer446 commented on #145
Thank you for quick response!
Okay, I have to set up controller like descripted on moonlight-embedded right?
Then i config the input in Kodi direct.

But often the button x and y is not right.
On no man's sky is x=y and y=x
That's at Skyrim special edition too

Hitman runs great.

What I have to do on Luna controller setup mapping? Leaving it or run moonlight map one.map and press the buttons ?

S

[2017-03-19 14:41] wackerl91 commented on #145
Either configure the X/Y swap directly when starting the driver [like mchrbn did](https://github.com/wackerl91/luna/issues/83#issuecomment-270383326) (note that you might need to re-run Kodi's controller configuration) **or** shut down Kodi, use moonlight's mapping command, start Kodi again and add the created mapping file to your controller using Luna's controller configuration screen.

I'm usual

[2017-03-19 15:22] BoBBer446 commented on #145
I have to add this:
`xboxdrv --detach-kernel-driver --buttonmap du=dl,dl=du,dd=dr,dr=dd,x=y,y=x --silent`
to
`/etc/rc.local`
?

I do this:

Clean OSM Install
config KODI/OSMC
sudo modprobe -r xpad
sudo nano `/etc/modprobe.d/gamepad.conf` and ADD this: `blacklist xpad`
`sudo apt-get install xboxdrv`

Then i type `sudo xboxdrv`, result:
[code]
i try then
`moonlight map xbox360.map`

i config and i s

[2017-03-19 18:03] BoBBer446 commented on #145
Although the error comes, the controller works.

But also if I `moonligt map four.map` entries and instead of x then press y and instead of y then x it is exactly the same in the game. X=Y and Y=x

If i run
sudo xboxdrv --detach-kernel-driver --buttonmap du=dl,dl=du,dd=dr,dr=dd,x=y,y=x --silent

i geht the same issue:
[code]

Do you know why this is so?

[2017-03-20 13:05] Zelaf opened #146 "Can't remove Host using the context menu."
- Luna Version: **Luna 0.7.0-rc7**
- nVidia GeForce Experience Version: **3.4.0.70**
- Moonlight Embedded Version: **Moonlight Embedded 2.2.2 (EMBEDDED;PI)**
- OSMC Version: **17.02.2**

**Expected Behaviour: To remove the Host so I can re-add it (I reinstalled Windows 10 and need to add it again).**

**Actual Behaviour: I get the "click noise" but nothing happens, the context menu doesn't go away

[2017-03-22 17:21] wackerl91 commented on #146
@Zelaf
I'll have a look at this as soon as I can.
As a workaround, delete the `host` file in Luna's addon data dir (usually: `/home/osmc/.kodi/userdata/addon_data/script.luna/.storage`). You should be able to pair again afterwards.

[2017-03-24 00:54] Zelaf commented on #146
Is this confirmed? Does it happen for you as well or just me?

[2017-03-24 02:06] Zelaf opened #147 "Can't add host."
- Luna Version: Luna 0.7.0-rc7
- nVidia GeForce Experience Version: 3.4.0.70
- Moonlight Embedded Version: 2.3.0
- OSMC Version: 2017.03-1

**Expected Behaviour: Getting the pair code after entering the IP to be entered on the host computer.**

**Actual Behaviour: "An exception occured...." after entering the IP of the host and then nothing else happens. No pair code or anything the the IP menu cl

[2017-03-25 11:48] BoBBer446 opened #148 "Second Controller not working"
All Versions up to day by today.

Hi again,
i use one controller and it works fine with "XBOX Gamepad (Userspace driver)"

But now i want to add a second Gamepad i can only choose my Tastatur "Logitech K400 Plus" as source :/

I installed moonlight-embedded like the description and my rc.local looks now like this:
[code]

Can anyone help me please?

[2017-03-27 07:54] wackerl91 commented on #147
Phew, that's not going to be easy ...
For that period (03/22 through 03/26) I got multiple exceptions that might be relevant, but they weren't generated by the same user.

- multiple connection timeouts when trying to get the host information (usually either wrong IP or GFE not responding)
- high amount of "missing moonlight binary" exceptions
- an empty GFE response in the middle of the pairing p

[2017-03-27 08:10] wackerl91 commented on #148
Heya!
I'm glad you got your first controller working (and sorry that I didn't respond to your previous issue anymore, there's a lot on my plate currently).

xboxdrv requires a separate driver thread per controller, which is why you're seeing only one. Easiest way to get this working is using xboxdrv's daemon mode which allows for controller hotplugging (i.e. you can use any number of controllers b

[2017-03-27 08:21] wackerl91 commented on #146
Didn't have time to try this :( During remove an unpair event is sent to GFE, which might fail if the host IP address is not reachable anymore or GFE doesn't respond to the payload (for various reasons), thus cancelling out the actual remove operation.
Removing hosts should always work, even if the host itself isn't reachable, so I might just need to make this more robust (i.e. even if unpairing t

[2017-03-27 17:01] BoBBer446 commented on #148
Thanks for your reaction!
You do not have to apologize! Thank you very much for your help. I tried it the same time:
`sudo nano /etc/rc.local`
[code]

`sudo nano /etc/dbus-1/system.d/org.seul.Xboxdrv.conf`
[code]

`Sudo reboot`

Now I can configure all. Same Mappingset. However, I can not now control Kodi. Did I forgot something?

[2017-03-28 10:02] wackerl91 commented on #148
Have you tried reconfiguring your controller with Kodi? I remember I had to do that a couple of times, but don't know what I changed that I had to do so :/

Btw, there's a typo in the first and second line of your xboxdrv command, xboxdrv should be written all lowercase and your second line misses a dash for `trigger-as-button`, `type`, `wid` and `buttonmap` (you only got one, should be two (`--tr

[2017-03-28 15:56] BoBBer446 commented on #148
I am very sorry, I try to find a solution myself. But I'm stuck.
I have reinstalled everything.
Noobs OSMC
Important:
The latest Kodi version - the xpad also - accepts the Xbox 360 Wirless Recieiver!
This is under input devices also so timed.

However, the keys are wrong. As with the xboxdrv. Only one can configure with xboxdrv more.
But I follow the tutorial, uninstall xpad etc.

The file called`

[2017-03-28 16:56] BoBBer446 commented on #148
Ah, all back!

There is an issue in the code! Not default-kernel!
This is the right code, now i see all 4 Controllers in Luna and Kodi:
[code]
If the controllers in poer off and i wake him up all LEDs flashing, but Controller 1 is working also in kodi!
Now i wake the second controller and the LED 2 is Flashing nut not working in kodi.

If i Searching for connection on Controller 1 he loose functio

[2017-03-28 17:23] ErAzOr2k opened #149 "Android Port possible?"
Hi,

is a android port for this nice plugin possible? if yes, is it planned?

[2017-03-30 08:46] wackerl91 commented on #148
This error:
`[ERROR] XboxdrvDaemon::process_match(): failed to launch ControllerThread:  Error couldn't claim the USB interface: LIBUSB_ERROR_NOT_FOUND`
happens if you already got a xboxdrv instance running when trying to start another.
Remember that your `rc.local` is executed when your system starts, if you want to play around with xboxdrv from terminal you'll need to shut this instance down fir

[2017-03-30 08:54] wackerl91 commented on #149
That's what [Moonlight's Android Port](https://play.google.com/store/apps/details?id=com.limelight) is good for ;)

So as far as Luna is concerned: not likely. Given that there's already an app available from the moonlight devs and I'd need to use basically their entire code base (minus the UI) that's too much trouble and doesn't provide any benefit over their original app except that it would loo

[2017-03-30 08:54] #149 closed, assigned to nobody

[2017-03-30 08:55] wackerl91 commented on #145
This discussion continues in #148.

[2017-03-30 08:55] #145 closed, assigned to nobody

[2017-04-01 15:13] BoBBer446 commented on #148
Okay, i try thousend of things but it wont work perfect / right
 I use you Configuaration from Your Post 5 Days ago:
https://github.com/wackerl91/luna/issues/148#issuecomment-289383200

The first Controller is working very well. Only issue is that the LEDs all are flashing.
I can controller Kodi and play games. Thats awesome !

But i would be great if i can play with my lady together games like Sa

[2017-04-01 17:13] wackerl91 commented on #148
Not good news, but still:
After a couple of restarts I was able to reproduce all the issues mentioned in your last comment (xboxdrv not starting even after killing the process, second controller not working even though the second segment of the ring is lit up, first controller flashing constantly). I did not change my config and this has worked in the past (played some Divinity: OS in coop).
Not s

[2017-04-09 10:45] Zelaf commented on #147
"24327924313024634f426158336b525a62336653446654314a4b534d4f506c6466645a6b4b3230544a59717678376d7a675347507536755735746f57"
Finally he had time to do it :D

[2017-04-10 13:55] wackerl91 commented on #147
That's weird ... I can find that UUID in the collection where I'm keeping obfuscated HW IDs and generated UUIDs (so it was obviously properly generated at some point), but there's no user with this ID. To be honest I got no clue why this happened, but it's very likely that Eos didn't even receive your exceptions :/

Any chance you could try pairing again and send me the logs generated by Luna?

[2017-04-29 08:34] BoBBer446 commented on #148
I think i found it....
https://discourse.osmc.tv/t/howto-moonlight-embedded-former-limelight-using-luna-launcher/5848/369

rc.local starts first, then Kodi. Kodi grabs the controller at last and so i get issues.

**A working solution is:**
just kill xboxdrv (**sudo pkill xboxdrv**)
execute my rc,local (**sudo /etc/rc.local**).

Now Controller works fine.
I think it where nice if i can run the scri

[2017-04-30 22:13] hemiipatu opened #150 "Games menu not displaying games"
- Luna Version: 0.6.3~alpha
- nVidia GeForce Experience Version: 3.5.0.76
- Moonlight Embedded Version:
- OSMC Version: MARCH 2017.03-1

**Expected Behaviour:**
A list of games should show.

**Actual Behaviour:**
Nothing shows in the menu at all!

[2017-05-01 10:13] #150 closed, assigned to nobody

[2017-05-01 10:14] hemiipatu commented on #150
Updated to the latest version of Luna and everything is working now! - Sorry to waste your time.

[2017-05-01 13:30] BoBBer446 commented on #146
This is working.

Just remove `rm -rf /home/osmc/.kodi/userdata/addon_data/script.luna/host` and you ready to pair again. You do not need to type the pair code again. "Already Paired" and you able to run game stream.

[2017-05-01 13:33] Zelaf commented on #146
@BoBBer446 I know, @wackerl91already stated this :)

[2017-05-22 21:47] hemiipatu commented on #146
Just wanted to confirm that I've had the same issue too, you simply cannot remove a host from the context menu even if the host system is online and connected to the network.

Doing as @wackerl91 stated is a quick workaround;

[2017-06-08 21:27] wackerl91 opened #151 "Service Announcement: State and Future of Luna"
Heya,

this is quick announcement regarding the current state and future of Luna. I am fully aware of the number of bugs that are currently unresolved, yet I'm also writing my bachelor thesis at the moment so I don't really have the time to do any development on Luna. Once I'm done I'll look through all the reported issues and exceptions reported to Eos again and fix what I can.

Meanwhile, if any

[2017-06-10 19:48] BoBBer446 commented on #151
HEY! Good work!

I am looking forward to working with you next year :)
The better it works, the more PI is an XBOX One alternative.

[2017-06-10 19:57] dodslaser commented on #151
Great news. Looking forward to giving Luna another try now that it is more mature. Give me a shout if you need any help with the systemd stuff.

[2017-06-10 20:06] BoBBer446 commented on #151
Maybe it is possible to add to your list the Wireless Controller Issue :(

At the moment i try it with the DBUS like your great Tutorial https://github.com/wackerl91/luna/issues/148 but we know there is a lo of issues or mistakes in the config :(

[2017-06-11 13:44] wackerl91 commented on #151
@BoBBer446: that will be part of the "looking through all the issues" process ;-)

@dodslaser: Can you send me an email (my address can be found on my GH profile)? Actually got a few things that I'd like to discuss, but not publicly. What I will say openly however is that I feel we started off on the wrong foot, which is something I kind of regret and like to remedy. I still believe in the reasons

[2017-06-12 08:59] BoBBer446 commented on #148
one little Question:
Wich Kodi Version you are using?

I use OSMC ..i would like to try an other Distribution

[2017-06-13 06:11] TheSNKNeoGeo commented on #147
I have the same error and this is my log "24327924313024763248787757706833345375426f44452f5348634c6570747039676934772e645075352e6a68744568556b564a385445562e457561"

i only downloaded the zip and installed the add on, i cant fitn how to install instructions of how to install install m2crypto (via apt-get) and pycrypto (via pip).

Thank's for the great idea creating Luna !

[2017-06-13 07:12] wackerl91 commented on #147
@TheSNKNeoGeo Same issue as with Zelaf's friend: the ID has been generated, but is not attached to a user on Eos (i.e. no logs on my end). There seems to be something going wrong really early, preventing both the "registration" process for Eos and your pairing to complete.
Can you try again and copy the log from your end into a pastebin and link it here?

No offense, but googling any combination o

[2017-06-13 07:20] TheSNKNeoGeo commented on #147
this is the "full" log 👍
https://s2.postimg.org/7wletoww9/Untitled-1.png

only the number key,  i tryed install on OSMC and in Recalbox (on Kodi) with the same type of log and error.

[2017-06-13 07:31] wackerl91 commented on #147
That's not the log, that's the UUID generated by Eos. Luna is logging directly into the kodi log, which should be here (at least on OSMC) `~/.kodi/temp/kodi.log`, but YMMV.

[2017-06-13 07:53] TheSNKNeoGeo commented on #147
here is the full log my brother 👍

https://pastebin.com/a0UbDteS

[2017-06-16 09:51] skasch opened #152 "Mapping files for gamepads obselete"
- Luna Version: 0.7.0
- nVidia GeForce Experience Version:
- Moonlight Embedded Version: 2.4.0
- OSMC Version: 17.3

**Expected Behaviour:**
Sony DualShock 4 controller (PS4) working with custom mapping file.

**Actual Behaviour:**
Sony DualShock 4 controller (PS4) not answering user inputs.

After some research in the moonlight-embedded package, I realized that since the [1d7c2be7e2a967f40b4a8047

[2017-06-16 15:52] wackerl91 commented on #152
Thanks for bringing this to my attention! Indeed looks like controllers are now auto-mapped, plus the entire `map` function has been removed.

That's actually great news for me, as controller mapping in Luna has always been difficult and didn't work reliably (like ... ever!).

I'll include a mention in the readme (linking to this issue) and will remove / disable the entire controller mapping featu

[2017-06-16 15:57] wackerl91 commented on #147
Thanks for the log! I've looked through it and there seem to be two issues.

One is related to Eos (or - to be more precise - initial information gathering), which crashes one of the pre-launch threads. Easiest way to get resolve this is to disable Eos in the settings for now; a proper fix will be included in the next release.

The second one is a bit more difficult. From what it looks like - give

[2017-06-16 15:58] wackerl91 commented on #83
Looks like custom mapping files aren't needed anymore since moonlight-embedded 2.4, see #152 for more details.

[2017-06-16 20:49] Poeschl opened #153 "4k Support"
- Luna Version: 0.7.0-rc7
- nVidia GeForce Experience Version: 3.6.0.74
- Moonlight Embedded Version: 2.3.0
- OSMC Version: 2017.04-1

Hi there, is it possible to toggle the ``-4k`` flag for moonlight from inside Luna?
I tried to set the resolution manually but it limits the values ways before the 4k resolution.

[2017-06-18 13:56] BlackVodka commented on #61
@TTherouanne Thanks a lot for sharing your way of starting moonlight via systemd - services!
I'd like to post my modifications here which I needed on my Retropie/Raspbian system, perhaps this helps some other people.

@wackerl91 : Great work, awesome addon, thanks a lot for your time and work!

**./resources/lib/util/pymoonlighthelper.py:**
(Note here also the changed class name of 'plugin' to 'co

[2017-06-21 09:39] Poeschl commented on #153
Well just recognized that its hardly possible to play anything on 4k on a raspberry ^^. And if so at max 15 Hz, so I will close this request.

[2017-06-21 09:39] #153 closed, assigned to nobody

[2017-07-12 19:08] LevanKujak opened #154 "Can't add a Host after Windows Reset"
- Luna Version: 0.7.0
- nVidia GeForce Experience Version: 3.7.0.81
- Moonlight Embedded Version: 2.4.1
- OSMC Version: 2017.5-2

First some backstory - i had to reinstall my Windows and therefore deleted the hosts in Moonlight like i found through google - i don't know much about linux and so on but i can do simple things like follow manuals easily and do some other stuff too but i don't know wha

[2017-07-15 19:25] LevanKujak commented on #154
Hey i just solved my Problem - i uninstalled the newest Version of GFE and installed a old version of GFExperience updated that it worked - yay - maybe that helps someone else my logs are here: http://paste.osmc.tv/duvujunibu

[2017-07-15 19:25] #154 closed, assigned to nobody

[2017-07-16 20:39] danielfmo commented on #61
Hello all,

I seek some guidance, I have and ODROID C2 with Ubuntu 16.04 and I'm trying to setup kodi 17 with moonlight and luna.

Unfortunately I'm not able to make luna launch moonlight, I've followed this in order to make kodi start at boot:
http://kodi.wiki/view/Archive:HOW-TO:Autostart_Kodi_for_Linux

With that service definition running 'systemctl --user start/stop kodi' does nothing.

**/et

[2017-07-23 11:57] BoBBer446 commented on #152
what does it mean? i installed osmc clean new from iso.

I install moonlight embedded over ppa
i install Luna
i config luna like this:
https://github.com/wackerl91/luna/issues/148#issuecomment-289383200

Now i have to map xbox360.map or i can run ?

[2017-07-23 14:23] Ae3NerdGod opened #155 "IP address only? seriously?"
- Luna Version: latest
- nVidia GeForce Experience Version: irrelevant
- Moonlight Embedded Version: irrelevent
- OSMC Version: irrelevent

**Expected Behaviour:**
the ability to add a host using a domain name or DDNS subdomain
**Actual Behaviour:**
frustratingly restricted to only IP addresses unlike any other application/implementation of moonlight.
ive checked, it works via the command line

i

[2017-07-26 14:35] wackerl91 commented on #155
Well, there's at least mDNS support in 0.7.x, but you need to install the pip zeroconf package for this to work.

If you want to implement domain name pairing, be my guest.

Well ... glad you really appreciate all the work I put into this. Next time try being more polite.

[2017-07-28 00:10] Ae3NerdGod commented on #155
i had to get someone elses fork for it to even launch The latest moonlight
correctly. I have to learn more python and more about kodi to figure out
what part of the code even opens an IP input rather than a normal keyboard.
But I'm working on it

On Jul 26, 2017 10:35 AM, "Ludwig Wacker" <notifications@github.com> wrote:

[2017-08-29 09:46] edalongeville opened #156 "XBox One S controller missing input"
- Luna Version: Latest
- nVidia GeForce Experience Version: Latest
- Moonlight Embedded Version: Latest
- OSMC Version: Latest

**Expected Behaviour:**
At the binding screen, the XBox One S Gamepad (bluetooth) should be able to bind all its keys.

**Actual Behaviour:**
When connected using bluetooth, Back and Home currently don't work. I don't know if this issue actually is caused by Luna, or if t

[2017-09-10 11:52] BoBBer446 opened #157 "Cant add host"
- Luna Version:
- nVidia GeForce Experience Version:
- Moonlight Embedded Version:
- OSMC Version:

**Expected Behaviour:**

**Actual Behaviour:**

[2017-09-10 11:52] BoBBer446 opened #158 "Cant add host"
- Luna Version:lastest
- nVidia GeForce Experience Version:lastest
- Moonlight Embedded Version:lastest
- OSMC Version:beta kodi 18

In beta i cant add host. I get an issue but at the Moment i can not See the logs.

Is it possible to add host Over cli ?

How is the "EOS report in the logs"?

[2017-09-10 11:53] #157 closed, assigned to nobody

[2017-09-16 17:52] wackerl91 commented on #158
Hello again, @BoBBer446 :)

I'll have a proper look at this as soon as I can.

Meanwhile: I got a couple of connection timeouts about 5 to 6 days ago, but - since all the data is anonymised - I don't know for sure if that's you. However, they have all been triggered by the same user.

Sadly, adding a host via CLI isn't straight forward anymore, as a lot of stuff needed to be changed for multi host

[2017-09-16 17:56] wackerl91 commented on #156
Which binding screen? The one in OSMC / Kodi settings or the reaaaally dumbed down one in Luna?

If it's the latter: controller configuration in Luna is somewhat deprecated as moonlight-embedded got smarter a while back (see #152 ), so you shouldn't need to add any mapping files inside Luna.

In case it's the former: there's nothing I can do about it. If you can verify that it's the nice-looking c

[2017-09-18 11:18] edalongeville commented on #156
Thanks for your answer. I meant kodi/osmc binding screen.

Looks like this is actually the wrong place to discuss it, as the issue seems to come from the bluetooth protocol, more specifically the way Kodi/OSMC interacts with the XBox One S controller.

Sorry for the mistake, and thanks a lot for your work on luna!

[2017-09-28 18:10] TheWolph opened #159 "mistake?"
Im not a programmer but

Error: /home/pi/.kodi/addons/script.luna/resources/lib/launchscripts/osmc/launch-helper-osmc.sh: 16: [: !=: unexpected operator

`if [ ${PRE_SCRIPT} != "" ]; then`
I think should be:
`if [ "${PRE_SCRIPT}" != "" ]; then`

[2017-09-29 08:11] wackerl91 commented on #159
Yes, indeed. Small oversight. Thanks for the notice!

[2017-09-29 08:12] #156 closed, assigned to nobody

[2017-10-02 02:13] vjr2 opened #160 "Conflict between Luna and Kodi's controller mapping"
- Luna Version: 0.7.4
- nVidia GeForce Experience Version: 385.69
- Moonlight Embedded Version: last-one
- OSMC Version: last-one

**Introduction:**

I just mapped fine my xbox controller so I can controll Kodi with it

**Expected Behaviour:**

When I start Luna (moonlight) I expect to cancel the movement of the controller in Kodi so I can just use it in the streaming

**Actual Behaviour:**

No ma

[2017-10-02 02:26] vjr2 commented on #160
EDIT: No matter what I do, If I don't push any button, the streaming screen will dissapear and it will appear Kodi's main menu

[2017-10-03 02:00] vjr2 commented on #160
Changed to raspbian due this issue

[2017-10-03 02:00] #160 closed, assigned to nobody

[2017-10-03 02:06] vjr2 opened #161 "Games wont launch from Luna"
- Luna Version: 0.7.4
- nVidia GeForce Experience Version: last one
- Moonlight Embedded Version: last one
- OSMC Version: no OSMC, just Rasbpians Kodi

**Expected Behaviour:**

When I enter mi server I expect to launch the game when I press "enter"

**Actual Behaviour:**

It does nothing. I know there is a similar issue here but I didnt understand anything. I know Luna just supports OSMC and not

[2017-10-14 10:00] #136 closed, assigned to nobody

[2017-10-16 20:24] A---- commented on #151
Nice to know you haven't dropped the project. There's a gap that this fits perfectly.
Would you mind dropping a line here when you get back to it? Thanks! :smiley:

[2017-10-16 20:30] wackerl91 commented on #151
Will do. Still a lot going on though :(

[2017-10-16 20:34] wackerl91 commented on #161
You might want to try using this fork, which has fixed startup scripts for general Kodi usage:

https://github.com/meveric/luna

In general, your problem is most likely related to the startup scripts being used in Luna (and failing since you have a different environment than an OSMC installation). When you try launching a game, you should see the command being executed, but not doing anything (i.e

[2017-10-17 02:41] BoBBer446 commented on #151
I buyed a Steam Link now... But that's creepy shit :D

I love to use my RPI 3 b with Luna. But the first think you have to do is your private live. Real life first... Maybe we can say rlf .... That's sounds bad....rlf... You see, I follow you and if I can help I do it :)

Good morning at 0441

[2017-10-31 11:24] BoBBer446 opened #162 "12:19:37.138 T:1576264688 ERROR: CAddonInstallJob[script.luna]: Die Abhängigkeit auf script.module.dateutil in Version 2.4.2 konnte nicht aufgelöst werden."
- Luna Version: developer
- Moonlight Embedded Version: from deb https://github.com/irtimmer/moonlight-embedded/wiki/Packages
- OSMC Version: 2017.08-1

on actual Version of osmc i cant install luna. I set up a new and clean osmc version today and now i want to install luna but it dosent work.

log is:
`12:19:37.138 T:1576264688   ERROR: CAddonInstallJob[script.luna]: Die Abhängigkeit auf script.m

[2017-10-31 11:29] BoBBer446 commented on #162
Closed!! Sorry for that!

https://github.com/wackerl91/luna/issues/55

Solution:

- go to System -> Add-ons -> Install from Repository -> select the official Kodi repo
- wait for it to update all the pre-installed addons (my Pi became more or less unresponsive during this)
- go back and install Luna from zip, it should be able to find all the dependencies now

[2017-10-31 11:29] #162 closed, assigned to nobody

[2017-11-24 14:42] OneMansGlory commented on #158
I'm getting the same error here in a LibreElec installation, running basically the same thing as @BoBBer446, the add host button seems to be dead.

[2017-11-24 19:52] BoBBer446 commented on #158
I have Not found a solution for That. I installed kodi new to make it work

[2017-11-25 09:17] wackerl91 commented on #158
@OneMansGlory Does anything show up in the logs when you try to click that button? If so, please share.

I got a couple of weird exceptions in Eos for someone running LibreELEC (all from the 14th though) and none of them would explain why the 'Add Host' button would be broken. Any additional information would be very much appreciated!

[2017-11-26 13:10] Nafania commented on #161
@wackerl91 I have the same problem. When i'm trying to play game just nothing happens.
I've tried your version and from meveric but result is still the same.

I've enabled debug log for moonlight in Kodi, that's what i see when i press Play

[code]

And that's all.

Any ideas how to fix it and be able to stream games via Luna?

UPD:

found logs in auth which may be related

[code]

[2017-12-23 21:50] LevanKujak opened #163 "Wireless Xbox 360 Controller doesn't connect anymore"
- Luna Version: 0.7
- nVidia GeForce Experience Version: 3.11.0.73
- Moonlight Embedded Version: i will provide later (i think newest)
- OSMC Version: 10-2017

**Expected Behaviour:** The first time i used the wireless controller they worked without a problem (only while streaming a game or steam tho not in luna or osmc what i don't need). Then i made an OSMC update and now the controller doesn't

[2017-12-29 16:43] enzouille290 opened #164 "add host impossible"
- Luna Version: latest
- nVidia GeForce Experience Version: 3.11.0.73
- Moonlight Embedded Version: latest
- OSMC Version: latest

Hello i can't add host when i click on add host nothing happens please help

[2018-02-25 04:26] Rubikaz opened #166 "Kodi still appears un the screen when I open games (kodi not osmc)"
- Luna Version: Luna 0.7.0-rc7 for kodi (not osmc) https://github.com/meveric/luna
- nVidia GeForce Experience Version: 3.12.0.84
- Moonlight Embedded Version: last one
- OSMC Version: not osmc, just kodi 17.4 (raspbian + kodi 17.4)

When I open steam I can hear the sound of the program but the screen still shows Kodi. If I close Kodi then the screen shows me the streaming from the PC.

It seems t

[2018-03-07 14:04] wackerl91 commented on #166
That's probably because the service `mediacenter` is not available on your system and thus can't be shut down with the [command used in the launch script](https://github.com/wackerl91/luna/blob/develop/resources/lib/launchscripts/osmc/launch-helper-osmc.sh#L28).
You'll need to change the launch scripts the match your setup. You can find some inspirations in some of the forks, e.g. [this one](https

[2018-03-07 14:04] #166 closed, assigned to nobody

[2018-08-01 07:50] micky1067 opened #167 "Logitech F310 Gamepad"
- Luna Version: 0.7.0 ~ rc7
- nVidia GeForce Experience Version: 3.14.1.48
- Moonlight Embedded Version: 2.4.6
- OSMC Version: OSMC Kodi 17.6
- System 4.14.34-2-osmc 2018-06-01

Hi…
I have a question… I have a Windows 10 PC running with Nvidia experience. GPU 1050Ti
As a Client I use RPi3 with OSMC and Moonlight and Luna App.

I can connect to the Gaming PC by luna and the game start very well and

[2018-08-07 07:20] Sloanstar opened #168 "Zeroconf - Not able to add host."
- Luna Version: 0.7.0 RC7
- nVidia GeForce Experience Version: 3.14.1.48
- Moonlight Embedded Version: 2.4.6
- OSMC Version: 20180720

**Expected Behaviour:**
Select - Add Host / With Zeroconf & mDNS installed, Luna will detect geforce PCs as outlined in instructions.

**Actual Behaviour:**
IP Address box is displayed.

03:02:08.421 T:1444905728  NOTICE: [script.luna.core]: Loaded storage "host" f

[2018-11-14 08:05] rjayyyy opened #169 "Add host doesn't do anything"
- Luna Version: Luna 0.7.0-rc7
- nVidia GeForce Experience Version: 3.15.0.186
- Moonlight Embedded Version: v0.6.2
- OSMC Version: - Running Windows, can this launcher be used on Windows with Kodi?

**Expected Behaviour:**

**Actual Behaviour:**
Luna installs correctly and I can access the settings menu but clicking add host nothing happens. Clicking the other two menu options produces an excepti

[2019-01-29 09:27] Pawe98 opened #170 "Luna won't show stream but game is opening"
- Luna Version: 0.7.0-rc7
- nVidia GeForce Experience Version: newest
- Moonlight Embedded Version: newest for Raspi 3
- OSMC Version: newest

**Expected Behaviour:**
Show the Stream
**Actual Behaviour:**
Errors (unexpected !=, and more), Game gets launched on server but no stream, UI begins to lagg

________________________________

You already got an issue of that kind:

if [ ${PRE_SCRIPT} != ""

[2019-01-29 10:11] Pawe98 commented on #169
It probably won't work in windows as Linux bash syntax is used, you would need to rewrite bash code to windows commandline or powershell. But why would you like to use then Luna launcher when moonlight as a UI in Windows that also supports gamepad input?

Alternative 1:You could checkout cygwin and the stuff mentioned in the approved answer from here:
https://stackoverflow.com/questions/26522789/h

[2019-01-30 05:18] rjayyyy commented on #169
Thanks for the response Pawe98. Makes sense and was what I figured at the time. I was just trialing some in house streaming methods and while this was a fair while back now I think it was the simplicity of interface that I preferred. thanks

[2019-01-30 06:46] Pawe98 commented on #170
Here is the fix: https://github.com/Pawe98/luna/releases/tag/v0.7.0-rc7-fixed

[2019-01-30 06:47] #170 closed, assigned to nobody

[2019-01-30 06:49] Pawe98 opened #171 "Fixed addon"
Have a good day:
https://github.com/Pawe98/luna/releases/tag/v0.7.0-rc7-fixed

I take no credit (literally only typos fixed)

Don't want to trust my zip? : look at /resources/lib/launch scripts/ and compare the files

[2019-02-15 21:51] hubertokf commented on #61
trying to reproduce it with kodi 18 and latest versions, I got this error trying go start a game
`19:48:26.688 T:1226830576   ERROR: EXCEPTION Thrown (PythonToCppException) : -->Python callback/script returned the following error<--
                                             - NOTE: IGNORING THIS CAN LEAD TO MEMORY LEAKS!
                                            Error Type: <type 'exceptions.

[2019-02-15 22:32] wackerl91 commented on #61
@hubertokf
No idea what you're trying to run there, but the launch script obviously doesn't exist at the mentioned location.
Please contact the person where you got this version of Luna from - the file mentioned in the logs has never been a part of any of my versions, so I won't be able to help you out here.

[2019-02-16 13:32] Pawe98 commented on #61
Look at issue: https://github.com/wackerl91/luna/issues/171

But I don't understand your provided logs

[2019-02-16 13:55] Pawe98 commented on #171
@wackerl91

I would like to add a button to luna to close a session. Can you give me little guidance on how I could do this? Which are the files I need to edit? I would just run a script from there terminating the session. The script doesn't need parameters, I just don't know wich files and generally how kodi adons work to do this. Your help is very appreciated :)

Grüße aus Stuttgart

[2019-02-18 18:06] wackerl91 commented on #171
@Pawe98
What's your goal here? Closing a hanging session?
I'm honestly kind of confused, because you won't be able to close a running session (as Luna isn't running at that time) and most failed sessions should get closed automatically.

Either way, there are multiple files involved when adding new functionality:
- the XML files in `/resources/skins/Default/720p/`, essentially defining the layout

[2019-02-18 18:55] Pawe98 commented on #171
Ok ill give it a try I haven't used python before. Thanks for the detailed
advice : )

Am Mo., 18. Feb. 2019, 19:06 hat Ludwig Wacker <notifications@github.com>
geschrieben:

[2019-08-07 13:52] #171 closed, assigned to nobody

[2020-01-21 19:54] cTatu opened #172 "Quiting a game exits Luna"
- Luna Version: 0.7.0-rc7
- nVidia GeForce Experience Version: 3.20.2.34
- Moonlight Embedded Version: 2.4.10
- OSMC Version: 2019.11-1

**Expected Behaviour:**
When closing the stream should go back to game list.

**Actual Behaviour:**
Exit whole Luna add-on to the OSMC main page/menu and have to load again the plugin to switch game

[2020-06-18 19:05] maretodoric commented on #158
I would like to revive an old thread if possible and add my two cents. I'm also having issues not being able to add host, bellow is log file:

[code]

When i open Luna, and click on "Add Host" i get an error message saying "An exception occured an has been reported to eos...."
This is on Raspbian 10

[2020-08-02 22:07] OneCricketeer commented on #169
Also #164

[2020-08-05 21:24] wackerl91 commented on #172
That doesn't work the way Luna is implemented right now, as Kodi is killed to launch Moonlight.
What would make this possible is if we could use Moonlight's functions to render through Kodi, similar to how e.g. the Plex for Kodi Add-On works, but I haven't had a look at this.

TL;DR: right now, that's nigh impossible. Sorry.

[2020-08-05 21:25] wackerl91 commented on #169
I'll close this, as Luna isn't expected to work an Windows as @Pawe98 already said.
(Sorry for pinging you guys for a "dead" issue ... )

[2020-08-05 21:25] #169 closed, assigned to nobody

[2020-08-05 21:27] OneCricketeer commented on #158
Link #147

[2020-08-05 21:28] wackerl91 commented on #164
1) "Latest" unfortunately isn't a very useful description of a software version ...
2) Can't really say anything regarding this without logs.

[2020-08-05 21:28] OneCricketeer commented on #164
#147

[2020-08-05 21:28] OneCricketeer commented on #168
#147

[2020-08-05 21:30] wackerl91 commented on #163
Likely either OSMC or hardware proiblem. A controller not connecting to its receiver is not an issue Luna could induce (or solve, for that matter).

[2020-08-05 21:30] #163 closed, assigned to nobody

[2021-01-31 16:10] ReenigneArcher opened #173 "Android support?"
Would it be possible to support Android?

I came across this project while working on a project of my own [RetroArcher](https://www.reddit.com/r/RetroArcher/).

Came across this as well, but don't think it was ever released or it's just not available on Android. https://github.com/kodi-game/game.moonlight

Thought I could launch moonlight if using PleXBMC.

[2021-07-18 19:13] OneCricketeer commented on #151
Maybe worth directing people towards Raspberry Pi Steamlink?

https://github.com/swetoast/steamlink-launcher

[2022-01-01 10:35] racerlucas opened #174 "Windows Support?"
I would like to have it work for Windows version of kodi since the xbox controller receiver only work on Windows.

[2022-04-17 13:10] Krypt0nC0R3 opened #175 "xbmc.python version 2.20 or higher not found"
- Luna Version: 0.7.0-rc7
- nVidia GeForce Experience Version: 3.25.1.27
- Moonlight Embedded Version: 2.5.2
- OSMC Version: 19.1

**Expected Behaviour:**
When installing from a zip file, everything works correctly

**Actual Behaviour:**
When installing from a zip file, the error "xbmc.python version >= 2.20 not found" appears. As I read on reddit, you need to update the plugin and contact the dev